.sort-center {
    width: 100%;
    text-align: center;
}

.hover-pointer:hover {
    cursor: pointer;
}

.hover-underline:hover{
    text-decoration: underline;
}

.hover-bold:hover{
    font-weight: bold;
}

.w85{
    width:85%;
}

.dib{
    display:inline-block;
}

.fr{
    float:right;
}

.w10{
    width:10%;
}

.tac{
    text-align: center;
}

.tal {
    text-align: left;
}

.tar {
    text-align: right;
}

.w100{
    width:100%;
}

.w80{
    width:80%;
}

.w60{
    width:60%;
}

.w15{
    width:15%;
}

.fr{
    float:right;
}

.r0{
    right:0px;
}

.dib{
    display: inline-block;
}

.w65{
    width:65%;
}

.mainNavUserSpan{
    font-size: 18px;
    font-weight:bold;
    padding:5px 10px;
}
.mg-10n0{
    margin:-10px 0px;
}