#donate_terms {
    width: 1000px;
    height: 500px;
    margin-top: 2%;
    resize: none;
}

#donate_input div {
    margin-bottom: 20px;
}

#sender {
    margin-top: 2%;
    margin-right: 5%;
}

#mycoin, #sending_money {
    margin-right: 13.8%;
}