


#text{
    text-align:center;
    font-weight:bold;
    font-size:20px;
    margin:20px;
    font-family:'Noto Sans KR', sans-serif;
}

.id-find-block {
    width: 400px;
    padding: 0 20px 20px 20px;
    background: #fff;
    border-radius: 5px;
    border-top: 5px solid #bbbbbb;
    border-bottom:1px solid #bbbbbb;
    /*border-right:1px solid #bbbbbb;
    border-left:1px solid #bbbbbb;*/
    background:#eeeeee33;
    margin: 0 auto;
    text-align:center;
    margin-bottom:100px;   
}

.id-find-block input {
    width: 90%;
    height: 42px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid #ccc;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;
    padding: 0 20px 0 50px;
    outline: none
}

input.button{
    padding: 0px;
}

.id-find-block input#name {
    background: #fff url('https://image.flaticon.com/icons/svg/747/747376.svg') 20px no-repeat;
    background-size: 16px 80px;
}

.id-find-block input#name:focus {
    background: #fff url('https://image.flaticon.com/icons/svg/747/747376.svg') 20px  no-repeat;
    background-size: 16px 80px;
}

.id-find-block input:active, .id-find-block input:focus {
    border: 2px solid #ca7bff;
}

.id-find-block input#email {
    background: #fff url('https://image.flaticon.com/icons/svg/1789/1789934.svg') 20px center no-repeat;
    background-size: 16px 80px;
}

.id-find-block input#email:focus {
    background: #fff url('https://image.flaticon.com/icons/svg/1789/1789934.svg') 20px center no-repeat;
    background-size: 16px 80px;
}


.id-find-block input#cellphone {
    background: #fff url('https://image.flaticon.com/icons/svg/977/977411.svg') 20px center no-repeat;
    background-size: 16px 80px;
}
.id-find-block input#cellphone:focus {
    background: #fff url('https://image.flaticon.com/icons/svg/977/977411.svg') 20px center no-repeat;
    background-size: 16px 80px;
}

.id-find-block .button {
    width: 90%;
    height: 40px;
    background: #bbbbbb;
    box-sizing: border-box;
    border-radius: 5px;
    border: 0px solid #bbbbbb;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'Noto Sans KR', sans-serif;
    outline: none;
    cursor: pointer;
    text-align:center;
}

.id-find-block .button:hover {
    background: #ca7bff;
}

.id-find-block input:active, .id-find-block input:focus {
    border: 0px;
}