



#text{
    text-align:center;
    font-weight:bold;
    font-size:20px;
    margin:20px;
    font-family:'Sunflower', sans-serif;
}

.login-block {
    width: 400px;
    padding: 0 20px 20px 20px;
    background: #fff;
    border-radius: 5px;
    border-top: 5px solid #bbbbbb;
    border-bottom:1px solid #bbbbbb;
    /*border-right:1px solid #bbbbbb;
    border-left:1px solid #bbbbbb;*/
    background:#eeeeee33;
    margin: 0 auto;
    text-align:center;
    
}



.login-block input {
    width: 90%;
    height: 42px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid #ccc;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;
    padding: 0 20px 0 50px;
    outline: none;
}

input.button{
    padding: 0px;
    font-family: 'Noto Sans KR', sans-serif;
}

.login-block input#id {
    background: #fff url('https://image.flaticon.com/icons/svg/747/747376.svg') 20px no-repeat;
    background-size: 16px 80px;
}

.login-block input#id:focus {
    background: #fff url('https://image.flaticon.com/icons/svg/747/747376.svg') 20px  no-repeat;
    background-size: 16px 80px;
}

.login-block input#pw {
    background: #fff url('https://image.flaticon.com/icons/svg/1096/1096513.svg') 20px  no-repeat;
    background-size: 16px 80px;
}

.login-block input#pw:focus {
    background: #fff url('https://image.flaticon.com/icons/svg/1096/1096513.svg') 20px  no-repeat;
    background-size: 16px 80px;
}

.login-block input:active, .login-block input:focus {
    border: 2px solid #ca7bff;
}


.login-block .button {
    width: 90%;
    height: 40px;
    background: #bbbbbb;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #bbbbbb;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    font-family: Montserrat;
    outline: none;
    cursor: pointer;
    text-align:center;
}

.login-block .button:hover {
    background: #ca7bff;
}

a {
    text-align:center;
    text-decoration:none;
    color:black;
    font-family: 'Noto Sans KR', sans-serif;
}