#channel_info {
    margin-top: 2%;
}

#channel_info #channel_name {
    font-weight: bold;
    font-size: 30px;
}

#channel_info .channel_num {
    margin-right: 20px;
}

#channel_info #channel_sub_btn {
    margin-right: 3px;
}

#channel_info #my_search {
    margin-bottom: 5px;
}

#channel_info #search_input {
    margin-top: 10px;
}

.hyeon-font {
    font-size: 17px;
}

.hyeon-input {
    padding: 8px 18px;

    background-color: transparent;
    border: 1px solid #838282;
    border-radius: 30px;
    color: #2c2c2c;
    height: auto;
    line-height: normal;
    font-size: .8571em;
    transition: color .3s ease-in-out,border-color .3s ease-in-out,background-color .3s ease-in-out;
    box-shadow: none;

    font-weight: 400;
    background-clip: padding-box;

    font-family: Montserrat,Helvetica Neue,Arial,sans-serif;

    overflow: visible;

    margin: 0;
}

.hyeon-input:focus {
    border: 1px solid #8f50ff;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0 !important;
    background-color: #ffffff;
    color: #2c2c2c;
}

.hyeon-select {
    background-color: transparent;
    border: none;
    padding-bottom: 4px;
}

#empty {
    height: 350px;
}

#empty_last {
    height: 200px;
}

#empty_last_chnl {
    height: 50px;
}

#account_info #account_address {
    font-weight: bold;
    font-size: 20px;
}

#account_info .account_num {
    margin-right: 20px;
}

#font-30 {
    font-weight: bold;
    font-size: 30px;
}

.pad-0 {
    padding-right: 0px;
}

#side_list {
    width: 200px;
    position: fixed;
    top: 30%;
    right: 0px;
}

.modal-body div {
    margin-bottom: 20px;
}

.modal-body .coin {
    margin-left: 103px;
}

.modal-body .won {
    margin-left: 75px;
}

.modal-body .rc {
    margin-left: 12px;
}

.mypageATag {
    display:inline-block;
    width:100%;
    padding:10px 5px;
}

.mypageATag:hover {
    background-color:#EEEEEE;
    color:mediumpurple;
}