#channel_info {
    margin-top: 2%;
}

#channel_info #channel_name {
    font-weight: bold;
    font-size: 30px;
}

#channel_info .channel_num {
    margin-right: 20px;
}

#channel_info #channel_sub_btn {
    margin-right: 3px;
}

#empty {
    height: 350px;
}

#empty_last {
    height: 200px;
}

#empty_last_chnl {
    height: 50px;
}

#account_info #account_address {
    font-weight: bold;
    font-size: 20px;
}

#account_info .account_num {
    margin-right: 20px;
}

#font-30 {
    font-weight: bold;
    font-size: 30px;
}

.pad-0 {
    padding-right: 0px;
}

#side_list {
    width: 200px;
    position: fixed;
    top: 30%;
    right: 0px;
}

.modal-body div {
    margin-bottom: 20px;
}

.modal-body label {
    width: 100%;
}

.mypageATag {
    display:inline-block;
    width:100%;
    padding:10px 5px;
}

.mypageATag:hover {
    background-color:#EEEEEE;
    color:mediumpurple;
}