

#id_check{
    margin-bottom:0px;
}
#id_msg{
    margin:10px;
    text-align:center;
}

#text{
    text-align:center;
    font-weight:bold;
    font-size:20px;
    margin:20px;
    font-family:'Noto Sans KR', sans-serif;
}

.signup-block {
    width: 400px;
    padding: 0 20px 20px 20px;
    background: #fff;
    border-radius: 5px;
    border-top: 5px solid #bbbbbb;
    border-bottom:1px solid #bbbbbb;
    /*border-right:1px solid #bbbbbb;
    border-left:1px solid #bbbbbb;*/
    background:#eeeeee33;
    margin: 0 auto;
    text-align:center;
    margin-bottom:100px;   
}

#auth_box{
    width: 90%;
    border-radius: 5px;
    border:1px solid magenta;
    text-align:center;
}

#auth_num{
    padding:0px;
}

.signup-block input {
    width: 90%;
    height: 42px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid #ccc;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;
    padding: 0 20px 0 50px;
    outline: none;
}

.signup-block input#id {
    background: #fff url('https://image.flaticon.com/icons/svg/747/747376.svg') 20px center no-repeat;
    background-size: 16px 80px;
}

.signup-block input#id:focus {
    background: #fff url('https://image.flaticon.com/icons/svg/747/747376.svg') 20px center no-repeat;
    background-size: 16px 80px;
}

.signup-block input#pw {
    background: #fff url('https://image.flaticon.com/icons/svg/1096/1096513.svg') 20px center no-repeat;
    background-size: 16px 80px;
}

.signup-block input#pw:focus {
    background: #fff url('https://image.flaticon.com/icons/svg/1096/1096513.svg') 20px center no-repeat;
    background-size: 16px 80px;
}

.signup-block input#pwcheck {
    background: #fff url('https://image.flaticon.com/icons/svg/1096/1096513.svg') 20px center no-repeat;
    background-size: 16px 80px;
}

.signup-block input#pwcheck:focus {
    background: #fff url('https://image.flaticon.com/icons/svg/1096/1096513.svg') 20px center no-repeat;
    background-size: 16px 80px;
}



.signup-block input#name {
    background: #fff url('https://image.flaticon.com/icons/svg/747/747376.svg') 20px center no-repeat;
    background-size: 16px 80px;
}
.signup-block input#name:focus {
    background: #fff url('https://image.flaticon.com/icons/svg/747/747376.svg') 20px center no-repeat;
    background-size: 16px 80px;
}


.signup-block input#nickname {
    background: #fff url('https://image.flaticon.com/icons/svg/1251/1251797.svg') 20px center no-repeat;
    background-size: 16px 80px;
}
.signup-block input#nickname:focus {
    background: #fff url('https://image.flaticon.com/icons/svg/1251/1251797.svg') 20px center no-repeat;
    background-size: 16px 80px;
}




.signup-block input#email {
    background: #fff url('https://image.flaticon.com/icons/svg/1789/1789934.svg') 20px center no-repeat;
    background-size: 16px 80px;
}
.signup-block input#email:focus {
    background: #fff url('https://image.flaticon.com/icons/svg/1789/1789934.svg') 20px center no-repeat;
    background-size: 16px 80px;
}


.signup-block input#cellphone {
    background: #fff url('https://image.flaticon.com/icons/svg/977/977411.svg') 20px center no-repeat;
    background-size: 16px 80px;
}
.signup-block input#cellphone:focus {
    background: #fff url('https://image.flaticon.com/icons/svg/977/977411.svg') 20px center no-repeat;
    background-size: 16px 80px;
}














.signup-block input:active, .signup-block input:focus {
    border: 1px solid #ca7bff;
}

.signup-block .button {
    width: 90%;
    height: 40px;
    background: #bbbbbb;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #bbbbbb;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    font-family: Montserrat;
    outline: none;
    cursor: pointer;
    text-align:center;
}

.signup-block .button:hover {
    background: #ca7bff;
}

#pwcheckmsg{
    text-align:center;
    padding:5px;
}

#pwcheck{
    margin-bottom:0px;
}