<html>

<head>
    <link rel="stylesheet" type="text/css" href="../css/brif_comm.css">
    <script>
        onload = function () {
            $("#mainNavBtn03").addClass("active");
            $("#Cate02").addClass("active");
            for (var i = 1; i <= document.getElementsByTagName('a').length; i++) {
                var id = "#Cate" + i;
                $(id).click(function () { location.href = '/commentary_detail'; });
            }
        }
        function deleteClick(){
            var result = confirm("정말로 삭제하시겠습니까?");
            var changeURL = (document.referrer).replace("&","<**>");
            if(result) location.href='/delete?postNo=<%= postResult.rows[0][0] %>&preURL='+changeURL;
        }
        function subscribeClick(){
            $.ajax({
                    url: '/subscribe',                //주소
                    dataType: 'json',                  //데이터 형식
                    type: 'POST',                      //전송 타입
                    data: {'status':!subStatus,'writer':'<%= postResult.rows[0][1] %>'},      //데이터를 json 형식, 객체형식으로 전송
                    success: function(result) {          //성공했을 때 함수 인자 값으로 결과 값 나옴
                        if ( result['result'] == true ) {
                            if(subStatus) {
                                $('#subBtn').removeClass('active');
                            }
                            else {
                                $('#subBtn').addClass('active');
                            }
                            subStatus==true ? subStatus=false : subStatus=true;
                        }
                        else if(result['result'] == 'error'){
                            alert("ERROR");
                        }
                        else{//실패
                            alert("로그인을 먼저 해주세요");
                        }
                    } //function끝
                }); // ------      ajax 끝-----------------
        }
    </script>
</head>

<body>
    <div id="header2"><%- main_header %></div>
    <div id="header" class="container"><%- logo %></div>
    <div id="header3" class="container"><%- navigator %></div>
    <div id="header4"><%- navigator_side %></div>
    <div class="commentaryView container contentsBox">
        <div id="contentsSideNav"><%- contentsSideNav %></div>
        <div class="showFrame mainContents w85">
            <div class="showInfo show">
                <span class="infospan"><%= postResult.rows[0][1] %></span>
                <span class="infospan"><%= categoryResult.rows[0][0] %><br><%= categoryResult.rows[0][1] %></span>
                <span class="infospan">작성일 : <%=  postResult.rows[0][3] %></span>
                <span class="infospan">가치 : <%= commentResult.rows[0][4] %>$</span>
                <% 
                var writer="";
                if(user == postResult.rows[0][1]){
                    writer+="<button class='btn btn-light fr' value='Delete' onclick='deleteClick();''>Delete</button>";
                    writer+="<button class='btn btn-light fr' value='Modify' onclick=location.href='/commentary_write?preURL=document.referrer&postNo="+postResult.rows[0][0]+"'>Modify</button>";
                }
                %>
                <%- writer %>
            </div>
            <div class="showTitle show">
                    <%= commentResult.rows[0][2] %>
            </div>

            <div class="showContents show">
                    <%= commentResult.rows[0][3] %>
            </div>

            <div class="showHash show">
                <span class="showspan">HashTag</span>
                <div class="hashDiv dib">
                    <% for(var i=0;i<hashtagResult.rows.length;i++){ %>
                        <span id="hash<%= i %>">#<%= hashtagResult.rows[i][2] %> </span>
                    <% } %>
                </div>
            </div>
            <% if(user!=postResult.rows[0][1]){ %><button class="btn btn-light <% if(subscribeResult){%>active<% } %>" value="Subscribe" onclick="subscribeClick();" id="subBtn">Subscribe</button><% } %>
            <button class="btn btn-light" value="Donate">Donate</button>
            <button class="btn btn-light" onclick="history.back();">Back</button>
            <div class="commentDiv">
                <div class="commentWrite tar">
                    <form class="dib commentForm">
                        <input type="text" placeholder="Comment">
                    </form>
                    <button class="btn btn-light">Comment</button>
                </div>
                <div class="commentList">
                    <table class="table mainTable commTable">
                        <tbody>
                            <tr>
                                <td class='commentInfo'>RyuDing 19.05.21</td>
                            </tr>
                            <tr>
                                <td class="commentContents" scope="row" colspan="2">아니 기각이 말이 되나...;</td>
                            </tr>

                            <tr>
                                <td class='commentInfo'>RyuDing 19.05.21</td>
                            </tr>
                            <tr>
                                <td class="commentContents" scope="row" colspan="2">이 정도면 판사가 돈 먹은 거 아닌가요?</td>
                            </tr>

                            <tr>
                                <td class='commentInfo'>RyuDing 19.05.21</td>
                            </tr>
                            <tr>
                                <td class="commentContents" scope="row" colspan="2">뒷돈먹었다는 말도 많던데..</td>
                            </tr>

                            <tr>
                                <td class='commentInfo'>RyuDing 19.05.21</td>
                            </tr>
                            <tr>
                                <td class="commentContents" scope="row" colspan="2">제가 알기론...보통 증거 한번 써서 재판 끝나고 나면은 또
                                    못쓸텐데..아닌가?</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="footer"><%- footer %></div>
</body>

</html>