<html>

<head>
    <link rel="stylesheet" type="text/css" href="../css/brif_comm.css">
    <script>
        var writer = '<%= postResult.rows[0][1] %>';
        onload = function () {
            $("#mainNavBtn03").addClass("active");
        }
        function deleteClick(){
            var result = confirm("정말로 삭제하시겠습니까?");
            var changeURL = (document.referrer).replace("&","<**>");
            if(result) location.href='/delete?postNo=<%= postResult.rows[0][0] %>&preURL='+changeURL;
        }
        function deleteCommentsClick(cmid){
            var result = confirm("정말로 삭제하시겠습니까?");
            if(result) deleteComments(cmid);
        }
        function deleteComments(cmid){
            //에이잭스로 삭제 후 리로드
            $.ajax({
                    url: '/delete_comments',                //주소
                    dataType: 'json',                  //데이터 형식
                    type: 'POST',                      //전송 타입
                    data: {'cmid':cmid,'cid':'<%= commentResult.rows[0][0] %>' },      //데이터를 json 형식, 객체형식으로 전송
                    success: function(result) {          //성공했을 때 함수 인자 값으로 결과 값 나옴
                        if ( result['result'] == true ) {
                            //코멘츠를 받아와서 리로드
                            //commentslist
                            var deleteBtn = "";
                            user='<%= user %>';
                            $("#commentsTable").empty();
                            for(var i=0;i<result['commentslist'].rows.length;i++){
                                deleteBtn="";
                                if(user==result['commentslist'].rows[i][4])deleteBtn+='<button class="btn btn-light fr mg-10n0" onclick=deleteCommentsClick('+result['commentslist'].rows[i][0]+');>x</button>';
                                if('admin' == result["commentslist"].rows[i][4])result["commentslist"].rows[i][4]="<span style='color:#ef7c7c;font-weight:bold;'>"+result["commentslist"].rows[i][4]+"</span>";
                                else if(writer == result["commentslist"].rows[i][4])result["commentslist"].rows[i][4]="<span style='font-weight:bold;'>"+result["commentslist"].rows[i][4]+"</span>";
                                $("#commentsTable").append('<tr><td class="commentInfo">'+result["commentslist"].rows[i][4]+' '+result["commentslist"].rows[i][3]+'</td></tr><tr><td class="commentContents" scope="row" colspan="2">'+result["commentslist"].rows[i][2]+deleteBtn+'</td></tr>');
                            }
                        }
                        else{
                            alert("ERROR");
                        }
                    } //function끝
                }); // ------      ajax 끝-----------------
        }
        function subscribeClick(){
            $.ajax({
                    url: '/subscribe',                //주소
                    dataType: 'json',                  //데이터 형식
                    type: 'POST',                      //전송 타입
                    data: {'status':!subStatus,'writer':'<%= postResult.rows[0][1] %>'},      //데이터를 json 형식, 객체형식으로 전송
                    success: function(result) {          //성공했을 때 함수 인자 값으로 결과 값 나옴
                        if ( result['result'] == true ) {
                            if(subStatus) {
                                $('#subBtn').removeClass('btn-primary');
                            }
                            else {
                                $('#subBtn').addClass('btn-primary');
                            }
                            subStatus==true ? subStatus=false : subStatus=true;
                        }
                        else if(result['result'] == 'error'){
                            alert("ERROR");
                        }
                        else{//실패
                            alert("로그인을 먼저 해주세요");
                        }
                    } //function끝
                }); // ------      ajax 끝-----------------
        }
        function createComments(){
            //댓글 저장 후 댓글 창 리로드
            var comments = $('#commentText').val();
            $('#commentText').val("");
            $.ajax({
                    url: '/comments',                //주소
                    dataType: 'json',                  //데이터 형식
                    type: 'POST',                      //전송 타입
                    data: {'msg':comments,'cid':"<%= commentResult.rows[0][0] %>"},      //데이터를 json 형식, 객체형식으로 전송
                    success: function(result) {          //성공했을 때 함수 인자 값으로 결과 값 나옴
                        if ( result['result'] == true ) {
                            //코멘츠를 받아와서 리로드
                            //commentslist
                            var deleteBtn = "";
                            user='<%= user %>';
                            $("#commentsTable").empty();
                            for(var i=0;i<result['commentslist'].rows.length;i++){
                                deleteBtn="";
                                if(user==result['commentslist'].rows[i][4])deleteBtn+='<button class="btn btn-light fr mg-10n0" onclick=deleteCommentsClick('+result['commentslist'].rows[i][0]+');>x</button>';
                                if('admin' == result["commentslist"].rows[i][4])result["commentslist"].rows[i][4]="<span style='color:#ef7c7c;font-weight:bold;'>"+result["commentslist"].rows[i][4]+"</span>";
                                else if(writer == result["commentslist"].rows[i][4])result["commentslist"].rows[i][4]="<span style='font-weight:bold;'>"+result["commentslist"].rows[i][4]+"</span>";
                                $("#commentsTable").append('<tr><td class="commentInfo">'+result["commentslist"].rows[i][4]+' '+result["commentslist"].rows[i][3]+'</td></tr><tr><td class="commentContents" scope="row" colspan="2">'+result["commentslist"].rows[i][2]+deleteBtn+'</td></tr>');
                            }
                        }
                        else if(result['result'] == 'error'){
                            alert("ERROR");
                        }
                        else{//실패
                            alert("로그인을 먼저 해주세요");
                        }
                    } //function끝
                }); // ------      ajax 끝-----------------
        }
        function checkLogin(){
            var user = '<%=user%>';
            if(user.length==0)alert('로그인을 먼저 해주세요');
            else location.href='/donate?chnlid=<%= postResult.rows[0][1] %>&preURL='+location.href
        }
    </script>
</head>

<body>
    <div id="header2"><%- main_header %></div>
    <div id="header" class="container"><%- logo %></div>
    <div id="header3" class="container tyshadow"><%- navigator %></div>
    <div id="header4"><%- navigator_side %></div>
    <div class="commentaryView container contentsBox tac">
        <% if(search==null){ %><div id="contentsSideNav"><%- contentsSideNav %></div><% } %>
        <div class="showFrame mainContents w85 card">
            <div class="showInfo showallContents">
                <span class="infospan hover-pointer" onclick="location.href='/channel?chnlid=<%= postResult.rows[0][1] %>'"><%= postResult.rows[0][1] %></span>
                <span class="infospan"><%= categoryResult.rows[0][0] %><br><%= categoryResult.rows[0][1] %></span>
                <span class="infospan">작성일 : <%=  postResult.rows[0][3] %></span>
                <span class="infospan">가치 : <%= commentResult.rows[0][4].toFixed(2) %>c</span>
                <% 
                var writer="";
                if(user == postResult.rows[0][1]){
                    writer+="<button class='btn btn-light fr' value='Delete' onclick='deleteClick();''>Delete</button>";
                    writer+="<button class='btn btn-light fr' value='Modify' onclick=location.href='/commentary_write?preURL=document.referrer&postNo="+postResult.rows[0][0]+"'>Modify</button>";
                }
                %>
                <%- writer %>
            </div>
            <div class="showTitle showallContents">
                    <%= commentResult.rows[0][2] %>
            </div>

            <div class="showContents showallContents">
                <% 
                
                %>
                    <%- commentResult.rows[0][3] %>
            </div>

            <div class="showHash showallContents">
                <span class="showspan">HashTag</span>
                <div class="hashDiv dib">
                    <% for(var i=0;i<hashtagResult.rows.length;i++){ %>
                        <span id="hash<%= i %>">#<%= hashtagResult.rows[i][2] %> </span>
                    <% } %>
                </div>
            </div>
            <% if(user!=postResult.rows[0][1]){ %><button class="btn <% if(subscribeResult){%>btn-primary<% } %>" value="Subscribe" onclick="subscribeClick();" id="subBtn">Subscribe</button><% } %>
            <button class="btn btn-light" value="Donate" onclick="checkLogin()" >Donate</button>
            <button class="btn btn-light" onclick="location.href=document.referrer;">Back</button>
            <div class="commentDiv">
                <div class="commentWrite tar">
                    <input type="text" placeholder="Comment" id="commentText" name="comment" onkeypress="if(event.keyCode==13)createComments();">
                    <button class="btn btn-light" onclick="createComments();">Comment</button>
                </div>
                <div class="commentList">
                    <table class="table mainTable commTable">
                        <tbody id="commentsTable">
                            <% var deleteBtn=""; %>
                            <% for(var i=0;i<commentsResult.rows.length;i++){ %>
                                <% deleteBtn=""; if(user==commentsResult.rows[i][4]){ deleteBtn+='<button class="btn btn-light fr mg-10n0" onclick=deleteCommentsClick('+commentsResult.rows[i][0]+');>x</button>' } %>
                                <%
                                    if(commentsResult.rows[i][4]=='admin')commentsResult.rows[i][4]="<span style='color:#ef7c7c;font-weight:bold;'>"+commentsResult.rows[i][4]+"</span>";
                                    else if(commentsResult.rows[i][4]==postResult.rows[0][1])commentsResult.rows[i][4]="<span style='font-weight:bold;'>"+commentsResult.rows[i][4]+"</span>";
                                %>
                            <tr>
                                <td class='commentInfo'><span class='hover-pointer' onclick="location.href='/channel?chnlid=<%= commentsResult.rows[i][4] %>'"><%- commentsResult.rows[i][4] %></span> <%= commentsResult.rows[i][3] %></td>
                            </tr>
                            <tr>
                                <td class="commentContents" scope="row" colspan="2"><%= commentsResult.rows[i][2] %><%- deleteBtn %></td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="footer"><%- footer %></div>
</body>

</html>