<html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/brif_comm.css">
    <script>
            onload = function(){
                $("#mainNavBtn03").addClass("active");
                $("#Cate02").addClass("active");
                for(var i=1;i<=5;i++){
                    var id = "#Cate0"+i;
                    $(id).click(function(){location.href='/commentary_detail';}); 
                }
            }
        </script>
</head>
<body>
    <div id="header2"><%- main_header %></div>
    <div id="header" class="container"><%- logo %></div>
    <div id="header3" class="container"><%- navigator %></div>
    <div id="header4"><%- navigator_side %></div>
    <div class="briefingContents container contentsBox">
        <div id="contentsSideNav"><%- contentsSideNav %></div>
        <div class="hotBriefing mainContents w85">
            <h2>Hot Briefings</h2>
            <table class="table hashTable">
                <tbody>
                    <tr>
                        <th scope="row">택시업계 '타다 퇴출' 주장에…이재웅 "억지 쓰지 말라" 관련기사 개수</th>
                        <td class='w10' rowspan="2">RyuDing</td>
                        <td class='w10' rowspan="2">0.00$</td>
                    </tr>
                    <tr>
                        <td class='commentaryHash'>#it #blockchain #AI #smartcar</td>
                    </tr>
                    <tr>
                        <th scope="row">택시업계 '타다 퇴출' 주장에…이재웅 "억지 쓰지 말라" 관련기사 개수</th>
                        <td class='w10' rowspan="2">RyuDing</td>
                        <td class='w10' rowspan="2">0.00$</td>
                    </tr>
                    <tr>
                        <td class='commentaryHash'>#it #blockchain #AI #smartcar</td>
                    </tr>
                    <tr>
                        <th scope="row">택시업계 '타다 퇴출' 주장에…이재웅 "억지 쓰지 말라" 관련기사 개수</th>
                        <td class='w10' rowspan="2">RyuDing</td>
                        <td class='w10' rowspan="2">0.00$</td>
                    </tr>
                    <tr>
                        <td class='commentaryHash'>#it #blockchain #AI #smartcar</td>
                    </tr>
                    <tr>
                        <th scope="row">택시업계 '타다 퇴출' 주장에…이재웅 "억지 쓰지 말라" 관련기사 개수</th>
                        <td class='w10' rowspan="2">RyuDing</td>
                        <td class='w10' rowspan="2">0.00$</td>
                    </tr>
                    <tr>
                        <td class='commentaryHash'>#it #blockchain #AI #smartcar</td>
                    </tr>
                    <tr>
                        <th scope="row">택시업계 '타다 퇴출' 주장에…이재웅 "억지 쓰지 말라" 관련기사 개수</th>
                        <td class='w10' rowspan="2">RyuDing</td>
                        <td class='w10' rowspan="2">0.00$</td>
                    </tr>
                    <tr>
                        <td class='commentaryHash'>#it #blockchain #AI #smartcar</td>
                    </tr>
                    <tr>
                        <th scope="row">택시업계 '타다 퇴출' 주장에…이재웅 "억지 쓰지 말라" 관련기사 개수</th>
                        <td class='w10' rowspan="2">RyuDing</td>
                        <td class='w10' rowspan="2">0.00$</td>
                    </tr>
                    <tr>
                        <td class='commentaryHash'>#it #blockchain #AI #smartcar</td>
                    </tr>
                    <tr>
                        <th scope="row">택시업계 '타다 퇴출' 주장에…이재웅 "억지 쓰지 말라" 관련기사 개수</th>
                        <td class='w10' rowspan="2">RyuDing</td>
                        <td class='w10' rowspan="2">0.00$</td>
                    </tr>
                    <tr>
                        <td class='commentaryHash'>#it #blockchain #AI #smartcar</td>
                    </tr>
                    <tr>
                        <th scope="row">택시업계 '타다 퇴출' 주장에…이재웅 "억지 쓰지 말라" 관련기사 개수</th>
                        <td class='w10' rowspan="2">RyuDing</td>
                        <td class='w10' rowspan="2">0.00$</td>
                    </tr>
                    <tr>
                        <td class='commentaryHash'>#it #blockchain #AI #smartcar</td>
                    </tr>
                    <tr>
                        <th scope="row">택시업계 '타다 퇴출' 주장에…이재웅 "억지 쓰지 말라" 관련기사 개수</th>
                        <td class='w10' rowspan="2">RyuDing</td>
                        <td class='w10' rowspan="2">0.00$</td>
                    </tr>
                    <tr>
                        <td class='commentaryHash'>#it #blockchain #AI #smartcar</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="footer"><%- footer %></div>
</body>
</html>