<html>

<head>
    <link rel="stylesheet" type="text/css" href="../css/brif_comm.css">
    <script src="js/htmljs/board.js"></script>
    <script>
        $.urlParam = function (name) {
            var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
            if (results == null) {
                return null;
            }
            else {
                return results[1] || 0;
            }
        }
        onload = function () {
            var curPage = '#detail' + $.urlParam('cateId');
            var activeCate = '#categoryId' + $.urlParam('cateId');
            var activeDetail = '#categoryDetailId' + $.urlParam('detailId');
            $("#mainNavBtn03").addClass("active");
            $(curPage).css('display', 'block');
            $(activeCate).addClass("active");
            $(activeDetail).addClass("active");
            $('#sortingBox option:eq(<%= sort-1 %>)').attr('selected', 'selected');
        }
        var addUrl = "<%if(detailId!=null){%>&detailId=<%=detailId%><%}%><%if(cateId!=null){%>&cateId=<%= cateId%><%}%>";
    </script>
</head>

<body>
    <div id="header2"><%- main_header %></div>
    <div id="header" class="container"><%- logo %></div>
    <div id="header3" class="container tyshadow"><%- navigator %></div>
    <div id="header4"><%- navigator_side %></div>
    <div class="briefingContents container contentsBox tac">
        <div id="contentsSideNav"><%- contentsSideNav %></div>
        <div class="hotBriefing mainContents w85 card">
                <div>
                        <div class='ti2 mgt40'>논평</div></div><select class='fr' id='sortingBox'
                onchange="sort(location.pathname+'?pageNo=<%=pagingResult.curPage%>&sort='+$('#sortingBox option:selected').val()+addUrl)">
                <option value='1'>최신 순</option>
                <option value='2'>오래된 순</option>
                <option value='3'>가격 순</option>
            </select>
            <table class="table hashTable">
                <% for(var i=0;i<result.rows.length;i++){ %>
                <tr class="hover-pointer hover-underline"
                    onclick="location.href='/commentary_view?postNo=<%= result.rows[i][0] %>'">
                    <th scope="row"><%= result.rows[i][5] %>
                        <% if(result.rows[i][7]!=null){ %><%= "["+result.rows[i][7]+"]" %><% } %></th>
                    <td calss='w10' rowspan="2"><%= result.rows[i][9] %></td>
                    <td class='w10' rowspan="2"><%= result.rows[i][2] %></td>
                    <td class='w10' rowspan="2"><%= (result.rows[i][6]).toFixed(2) %>c</td>
                </tr>
                <tr>
                    <td class='commentaryHash'>
                        <% for(var j=0;j<hashResult.rows.length;j++){if(hashResult.rows[j][0]==result.rows[i][0]){ %>#<%= hashResult.rows[j][1] %>
                        <% }} %></td>
                </tr>
                <% } %>
                </tbody>
            </table>
            <div class="tac dib">
                <ul class="pagination">
                    <%if(pagingResult.preBtn=='1'){ %>
                    <li class="page-item">
                        <a class="page-link"
                            href="/commentary_detail?sort=<%=sort%>&pageNo=<%=(parseInt(pagingResult.startPage)-1)%><%if(detailId!=null){%>&detailId=<%=detailId%><%}%>&cateId=<%=cateId%>"
                            aria-label="Previous">
                            <span aria-hidden="true">&lt;<i class="fa fa-angle-double-left" aria-hidden="true"></i></span>
                        </a>
                    </li>
                    <%}%>
                            <%for(var i=pagingResult.startPage;i<=pagingResult.endPage;i++){%>
                    <li
                        class="page-item <%if(i==pagingResult.curPage){%>active<%}%>">
                                  <a class="page-link" href="/commentary_detail?sort=<%=sort%>&pageNo=<%=i%><%if(detailId!=null){%>&detailId=<%=detailId%><%}%>&cateId=<%=cateId%>">
                        <%=i%></a>
                    </li>
                    <%}%>
                            
                            <%if(pagingResult.nextBtn=='1'){%>
                    <li class="page-item">
                        <a class="page-link"
                            href="/commentary_detail?sort=<%=sort%>&pageNo=<%=(parseInt(pagingResult.endPage)+1)%><%if(detailId!=null){%>&detailId=<%=detailId%><%}%>&cateId=<%=cateId%>"
                            aria-label="Next">
                            <span aria-hidden="true">&gt;<i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
                        </a>
                    </li>
                    <%}%>
                              </ul>
        </div>                <div>
                <button class='btn btn-primary fr' onclick='location.href="/commentary_write?"'>글쓰기</button>
            </div>
        </div>
    </div>
    <div id="footer"><%- footer %>
            </div>
</body>

</html>