<html>

<head>
    <link rel="stylesheet" type="text/css" href="css/brif_comm.css">
    <script src="js/htmljs/board.js"></script>
    <script>
        onload = function () {
            $("#mainNavBtn03").addClass("active");
            $('#sortingBox option:eq(<%= sort-1 %>)').attr('selected', 'selected');
        }
    </script>
</head>

<body>
    <div id="header2"><%- main_header %></div>
    <div id="header" class="container"><%- logo %></div>
    <div id="header3" class="container tyshadow"><%- navigator %></div>
    <div id="header4"><%- navigator_side %></div>
    <div class="briefingContents container contentsBox tac">
        <div id="contentsSideNav"><%- contentsSideNav %></div>
        <div class="hotBriefing mainContents card">
                <div>
                        <div class='ti2 mgt40'>논평</div></div><select class='fr' id='sortingBox'
                onchange="sort(location.pathname+'?pageNo=<%=pagingResult.curPage%>&sort='+$('#sortingBox option:selected').val())">
                <option value='1'>최신 순</option>
                <option value='2'>오래된 순</option>
                <option value='3'>가격 순</option>
            </select>
            <table class="table mainTable commTable">
                <thead>
                    <th class='tac' scope="row">제목</th>
                    <th class='tac'>카테고리</th>
                    <th class='tac'>작성자</th>
                    <th class='tac'>가치</th>
                </thead>
                        
                <tbody>
                    <%
                        var string="";
                        for(var i=0;i<result.rows.length;i++){
                    %>
                    <tr class="hover-pointer hover-background"
                        onclick="location.href='/commentary_view?postNo=<%= result.rows[i][0] %>'">
                        <th scope="row"><%= result.rows[i][5] %>
                            <% if(result.rows[i][7]!=null){ %><%= "["+result.rows[i][7]+"]" %><% } %></th>
                        <td calss='w10 tac'><%= result.rows[i][9] %></td>
                        <td class='w10 tac'><%= result.rows[i][2] %></td>
                        <td class='w10 tac'><%= result.rows[i][6].toFixed(2) %>c</td>
                    </tr>
                    <%
                        }
                    %>
                </tbody>
            </table>
            <div class="tac dib">
                <ul class="pagination">
                    <%if(pagingResult.preBtn=='1'){ %>
                    <li class="page-item">
                        <a class="page-link"
                            href="/commentary?sort=<%=sort%>&pageNo=<%=(parseInt(pagingResult.startPage)-1)%>"
                            aria-label="Previous">
                            <span aria-hidden="true">&lt;<i class="fa fa-angle-double-left" aria-hidden="true"></i></span>
                        </a>
                    </li>
                    <%}%>
                            <%for(var i=pagingResult.startPage;i<=pagingResult.endPage;i++){%>
                    <li class="page-item <%if(i==pagingResult.curPage){%>active<%}%>">
                                  <a class="page-link" href="/commentary?sort=<%=sort%>&pageNo=<%=i%>"><%=i%></a>
                    </li>
                    <%}%>
                            
                            <%if(pagingResult.nextBtn=='1'){%>
                    <li class="page-item">
                        <a class="page-link"
                            href="/commentary?sort=<%=sort%>&pageNo=<%=(parseInt(pagingResult.endPage)+1)%>"
                            aria-label="Next">
                            <span aria-hidden="true">&gt;<i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
                        </a>
                    </li>
                    <%}%>
                              </ul>

            </div>
            <div>
                    <button class='btn btn-primary fr' onclick='location.href="/commentary_write"'>글쓰기</button>
                </div>
        </div>
    </div>
    <div id="footer"><%- footer %>
            </div>
</body>

</html>