<html>

<head>
    <link rel="stylesheet" type="text/css" href="css/brif_comm.css">
    <script>
        onload = function () {
            $("#mainNavBtn02").addClass("active");
        }
    </script>
</head>

<body>
    <div id="header2"><%- main_header %></div>
    <div id="header" class="container"><%- logo %></div>
    <div id="header3" class="container"><%- navigator %></div>
    <div id="header4"><%- navigator_side %></div>
    <div class="briefingContents container contentsBox">
        <div id="contentsSideNav"><%- contentsSideNav %></div>
        <div class="hotBriefing mainContents">
            <h2>헤드라인 게시판</h2>
            <table class="table mainTable">
                <tbody>
                    <%  
                        var pid=-1;
                        var string="";
                        for(var i=0; i<result.rows.length; i++){
                            if(result.rows[i][0]!=pid){
                                if(pid!=-1){
                                    //저장값출력
                                    string+="</th></tr>";%>
                                    <%- string %>
                                    <%
                                }
                                pid = result.rows[i][0];
                                string = "<tr class='hover-pointer hover-underline hover-bold' onclick=location.href='/breifing_view?postNo="+pid+"'><th scope='row'>";
                            }
                            string+=result.rows[i][2]+"<br>";
                        }
                        string+="</th></tr>";
                    %>
                    <%- string %>
                </tbody>
            </table>
            
            <div class="">
                    <%
                        var paging="";
                        if(pagingResult.preBtn == '1'){
                            paging="<button class='btn btn-light' onclick=location.href='"+"/breifing?pageNo="+(parseInt(pagingResult.startPage)-1)+"'>&lt;</button>"
                        }
                    %><%- paging %><%
                        paging="";
                        for(var i=pagingResult.startPage; i<=pagingResult.endPage;i++){
                            if(i==pagingResult.curPage) paging+="<button class='btn btn-light active' onclick=location.href='"+"/breifing?pageNo="+i+"'>"+i+"</button>"
                            else paging+="<button class='btn btn-light' onclick=location.href='"+"/breifing?pageNo="+i+"'>"+i+"</button>"
                        }
                    %><%- paging %><%
                        paging="";
                        if(pagingResult.nextBtn == '1'){
                        paging="<button class='btn btn-light' onclick=location.href='"+"/breifing?pageNo="+(parseInt(pagingResult.endPage)+1)+"'>&gt;</button>"
                        }
                    %><%- paging %>
                    <div>
                        <button class='btn btn-light fr' onclick='location.href="/breifing_write"'>글쓰기</button>
                    </div>
            </div>
        </div>
    </div>
    <div id="footer"><%- footer %></div>
</body>

</html>