<html>
<head>
    <link rel="stylesheet" type="text/css" href="css/brif_comm.css">
    <script>
        var subStatus = <%= subscribeResult %>;
        onload = function () {
            <% if(search==null){ %>$("#mainNavBtn02").addClass("active");<% } %>
        }

        function deleteClick(){
            var result = confirm("정말로 삭제하시겠습니까?");
            var changeURL = (document.referrer).replace("&","<**>");
            if(result) location.href='/delete?postNo=<%= postResult.rows[0][0] %>&preURL='+changeURL;
        }

        function subscribeClick(){
            $.ajax({
                    url: '/subscribe',                //주소
                    dataType: 'json',                  //데이터 형식
                    type: 'POST',                      //전송 타입
                    data: {'status':!subStatus,'writer':'<%= postResult.rows[0][1] %>'},      //데이터를 json 형식, 객체형식으로 전송
                    success: function(result) {          //성공했을 때 함수 인자 값으로 결과 값 나옴
                        if ( result['result'] == true ) {
                            if(subStatus) {
                                $('#subBtn').removeClass('active');
                            }
                            else {
                                $('#subBtn').addClass('active');
                            }
                            subStatus==true ? subStatus=false : subStatus=true;
                        }
                        else if(result['result'] == 'error'){
                            alert("ERROR");
                        }
                        else{//실패
                            alert("로그인을 먼저 해주세요");
                        }
                    } //function끝
                }); // ------      ajax 끝-----------------
        }
    </script>
</head>
<body>
    <div id="header2"><%- main_header %></div>
    <div id="header" class="container"><%- logo %></div>
    <div id="header3" class="container"><%- navigator %></div>
    <div id="header4"><%- navigator_side %></div>
    <div class="briefingView container contentsBox tac">
        <% if(search==null){ %><div id="contentsSideNav"><%- contentsSideNav %></div><% } %>
        <div class="showFrame mainContents w85">
            <div class="showInfo show">
                <span class="infospan"><%= postResult.rows[0][1] %></span>
                <span class="infospan"><%= categoryResult.rows[0][0] %><br><%= categoryResult.rows[0][1] %></span>
                <span class="infospan">작성일 : <%= postResult.rows[0][3] %></span>
                <span class="infospan">수정일 : <%= postResult.rows[0][5] %></span>
                <% 
                    var writer="";
                    if(user == postResult.rows[0][1]){
                        writer+="<button class='btn btn-light fr' value='Delete' onclick='deleteClick();''>Delete</button>";
                        writer+="<button class='btn btn-light fr' value='Modify' onclick=location.href='/breifing_write?preURL=document.referrer&postNo="+postResult.rows[0][0]+"'>Modify</button>";
                    }
                %>
                <%- writer %>
            </div>
            <div class="showHeader show">
                <span class="showspan">Header</span>
                <div class="headerURL dib">
                    <%
                        var headline="";
                        for(var i=0; i<headlineResult.rows.length;i++){
                            headline+= "<a style='dispaly:block;' href='"+ headlineResult.rows[i][3] +"'>"+headlineResult.rows[i][2]+"</a>";
                        }
                    %>
                    <%- headline %>
                </div>
            </div>
            <div class="showSummary show">
                <span class="showspan">Summary</span>
                <div class="summaryDiv dib">
                    <%- summaryResult.rows[0][2] %>
                </div>
            </div>
            <div class="showHash show">
                <span class="showspan">HashTag</span>
                <div class="hashDiv dib">
                    <%
                        var hash="";
                        for(var i=0;i<hashtagResult.rows.length;i++){
                            hash+="<span> #"+hashtagResult.rows[i][2]+"</span>";
                        }
                    %>
                    <%- hash %>
                </div>
            </div>
            <% if(user!=postResult.rows[0][1]){ %><button class="btn btn-light <% if(subscribeResult){%>active<% } %>" value="Subscribe" onclick="subscribeClick();" id="subBtn">Subscribe</button><% } %>
            <button class="btn btn-light" value="Donate">Donate</button>
            <button class="btn btn-light" onclick="location.href=document.referrer;">Back</button>
        </div>
    </div>
    <div id="footer"><%- footer %></div>
</body>

</html>