<html>

<head>
    <link rel="stylesheet" type="text/css" href="css/brif_comm.css">
    <script src="js/htmljs/board.js"></script>
    <script>
        var url;
        onload = function () {
            $("#mainNavBtn02").addClass("active");
            $('#sortingBox option:eq(<%= sort-1 %>)').attr('selected','selected');

        }
    </script>
</head>

<body>
    <div id="header2"><%- main_header %></div>
    <div id="header" class="container"><%- logo %></div>
    <div id="header3" class="container"><%- navigator %></div>
    <div id="header4"><%- navigator_side %></div>
    <div class="briefingContents container contentsBox tac">
        <div id="contentsSideNav"><%- contentsSideNav %></div>
        <div class="hotBriefing mainContents">
            <h2>헤드라인 게시판</h2><select class='fr' id='sortingBox' onchange="sort(location.pathname+'?pageNo=<%=pagingResult.curPage%>&sort='+$('#sortingBox option:selected').val())">
                <option value='1'>최신 순</option>
                <option value='2'>오래된 순</option>
            </select>
            <table class="table mainTable">
                <tbody>
                    <%for(var i=0;i<result.rows.length;i++){%>
                    <tr class='hover-pointer hover-underline' onclick='location.href="/breifing_view?postNo=<%= result.rows[i][0] %>"'>
                        <% 
                            result.rows[i][1] = result.rows[i][1].replace("&lt;br&gt;","");
                            result.rows[i][1] = result.rows[i][1].split("&lt;").join("<");
                            result.rows[i][1] = result.rows[i][1].split("&gt;").join(">");
                        %>
                        <th scope='row'><%- result.rows[i][1] %></th>
                        <td><%= result.rows[i][2] %></td>
                    </tr>
                    <%}%>
                </tbody>
            </table>
            
            <div class="">
                    <%
                        var paging="";
                        if(pagingResult.preBtn == '1'){
                            paging="<button class='btn btn-light' onclick=location.href='"+"/breifing?sort="+sort+"&pageNo="+(parseInt(pagingResult.startPage)-1)+"'>&lt;</button>"
                        }
                    %><%- paging %><%
                        paging="";
                        for(var i=pagingResult.startPage; i<=pagingResult.endPage;i++){
                            if(i==pagingResult.curPage) paging+="<button class='btn btn-light active' onclick=location.href='"+"/breifing?sort="+sort+"&pageNo="+i+"'>"+i+"</button>"
                            else paging+="<button class='btn btn-light' onclick=location.href='"+"/breifing?sort="+sort+"&pageNo="+i+"'>"+i+"</button>"
                        }
                    %><%- paging %><%
                        paging="";
                        if(pagingResult.nextBtn == '1'){
                        paging="<button class='btn btn-light' onclick=location.href='"+"/breifing?sort="+sort+"&pageNo="+(parseInt(pagingResult.endPage)+1)+"'>&gt;</button>"
                        }
                    %><%- paging %>
                    <div>
                        <button class='btn btn-light fr' onclick='location.href="/breifing_write"'>글쓰기</button>
                    </div>
            </div>
        </div>
    </div>
    <div id="footer"><%- footer %></div>
</body>

</html>