<html>

<head>
    <link rel="stylesheet" type="text/css" href="css/brif_comm.css">
    <script>
        $.urlParam = function (name) {
            var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
            if (results == null) {
                return null;
            }
            else {
                return results[1] || 0;
            }
        }
        onload = function () {
            var curPage = '#detail' + $.urlParam('cateId');
            var activeCate = '#categoryId' + $.urlParam('cateId');
            var activeDetail = '#categoryDetailId' + $.urlParam('detailId');
            $("#mainNavBtn02").addClass("active");
            $(curPage).css('display', 'block');
            $(activeCate).addClass("active");
            $(activeDetail).addClass("active");
        }
    </script>
</head>

<body>
    <div id="header2"><%- main_header %></div>
    <div id="header" class="container"><%- logo %></div>
    <div id="header3" class="container"><%- navigator %></div>
    <div id="header4"><%- navigator_side %></div>
    <div class="briefingContents container contentsBox tac">
        <div id="contentsSideNav"><%- contentsSideNav %></div>
        <div class="hotBriefing mainContents w85">
            <h2>헤드라인 게시판</h2>
            <table class="table hashTable">
                <tbody>
                    <% for(var i=0;i<result.rows.length;i++){ %>
                    <tr  class="hover-pointer hover-underline" onclick="location.href='/breifing_view?postNo=<%= result.rows[i][0] %>'">
                        <% 
                            result.rows[i][1] = result.rows[i][1].replace("&lt;br&gt;","");
                            result.rows[i][1] = result.rows[i][1].split("&lt;").join("<");
                            result.rows[i][1] = result.rows[i][1].split("&gt;").join(">");
                        %>
                        <th scope='row'><%- result.rows[i][1] %></th>
                        <td rowspan="2"><%= result.rows[i][2] %></td>
                    </tr>
                    <tr>
                        <td class='commentaryHash'><% for(var j=0;j<hashResult.rows.length;j++){if(hashResult.rows[j][0]==result.rows[i][0]){ %>#<%= hashResult.rows[j][1] %> <% }} %></td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
            <div class="">
                    <%
                        var detail="";
                        if(detailId!=null)detail="detailId="+detailId+"&";

                        var paging="";
                        if(pagingResult.preBtn == '1'){
                            paging="<button class='btn btn-light' onclick=location.href='"+"/breifing_detail?"+detail+"cateId="+cateId+"&pageNo="+(parseInt(pagingResult.startPage)-1)+"'>&lt;</button>"
                        }
                    %><%- paging %><%
                        paging="";
                        for(var i=pagingResult.startPage; i<=pagingResult.endPage;i++){
                            if(i==pagingResult.curPage) paging+="<button class='btn btn-light active' onclick=location.href='"+"/breifing_detail?"+detail+"cateId="+cateId+"&pageNo="+i+"'>"+i+"</button>"
                            else paging+="<button class='btn btn-light' onclick=location.href='"+"/breifing_detail?"+detail+"cateId="+cateId+"&pageNo="+i+"'>"+i+"</button>"
                        }
                    %><%- paging %><%
                        paging="";
                        if(pagingResult.nextBtn == '1'){
                        paging="<button class='btn btn-light' onclick=location.href='"+"/breifing_detail?"+detail+"cateId="+cateId+"&pageNo="+(parseInt(pagingResult.endPage)+1)+"'>&gt;</button>"
                        }
                    %><%- paging %>
                    <div>
                        <button class='btn btn-light fr' onclick='location.href="/breifing_write?"'>글쓰기</button>
                    </div>
            </div>
        </div>
    </div>
    <div id="footer"><%- footer %></div>
</body>

</html>