<html>
<head>
    <link rel="stylesheet" type="text/css" href="css/brif_comm.css">
    <script>
        onload = function () {
            $("#mainNavBtn02").addClass("active");
            for (var i = 1; i <= document.getElementsByTagName('a').length; i++) {
                var id = "#Cate" + i;
                $(id).click(function () { location.href = '/breifing_detail'; });
            }
        }

        function deleteClick(){
            var result = confirm("정말로 삭제하시겠습니까?");
            if(result) location.href='/delete?postNo=<%= postResult.rows[0][0] %>';
        }
    </script>
</head>
<body>
    <div id="header2"><%- main_header %></div>
    <div id="header" class="container"><%- logo %></div>
    <div id="header3" class="container"><%- navigator %></div>
    <div id="header4"><%- navigator_side %></div>
    <div class="briefingView container contentsBox">
        <div id="contentsSideNav"><%- contentsSideNav %></div>
        <div class="showFrame mainContents w85">
            <div class="showInfo show">
                <span class="infospan"><%= postResult.rows[0][1] %></span>
                <span class="infospan"><%= categoryResult.rows[0][0] %><br><%= categoryResult.rows[0][1] %></span>
                <span class="infospan">작성일 : <%= postResult.rows[0][3] %></span>
                <span class="infospan">수정일 : <%= postResult.rows[0][5] %></span>
                <% 
                    var writer="";
                    if(user == postResult.rows[0][1]){
                        writer+="<button class='btn btn-light fr' value='Delete' onclick='deleteClick();''>Delete</button>";
                        writer+="<button class='btn btn-light fr' value='Modify' onclick=location.href='/breifing_write?postNo="+postResult.rows[0][0]+"'>Modify</button>";
                    }
                %>
                <%- writer %>
            </div>
            <div class="showHeader show">
                <span class="showspan">Header</span>
                <div class="headerURL dib">
                    <%
                        var headline="";
                        for(var i=0; i<headlineResult.rows.length;i++){
                            headline+= "<a style='dispaly:block;' href='"+ headlineResult.rows[i][3] +"'>"+headlineResult.rows[i][2]+"</a>";
                        }
                    %>
                    <%- headline %>
                </div>
            </div>
            <div class="showSummary show">
                <span class="showspan">Summary</span>
                <div class="summaryDiv dib">
                    <%- summaryResult.rows[0][2] %>
                </div>
            </div>
            <div class="showHash show">
                <span class="showspan">HashTag</span>
                <div class="hashDiv dib">
                    <%
                        var hash="";
                        for(var i=0;i<hashtagResult.rows.length;i++){
                            hash+="<span> #"+hashtagResult.rows[i][2]+"</span>";
                        }
                    %>
                    <%- hash %>
                </div>
            </div>
            <button class="btn btn-light" value="Subscribe">Subscribe</button>
            <button class="btn btn-light" value="Donate">Donate</button>
            <button class="btn btn-light" onclick="history.back();">Back</button>
        </div>
    </div>
    <div id="footer"><%- footer %></div>
</body>

</html>