<html>
<head>
    <link rel="stylesheet" type="text/css" href="css/brif_comm.css">
    <script>
        onload = function(){
            $("#mainNavBtn02").addClass("active");
                $("#Cate03").addClass("active");
                for(var i=1;i<=5;i++){
                    var id = "#Cate0"+i;
                    $(id).click(function(){location.href='/breifing_detail';}); 
                }
        }
    </script>
</head>
<body>
    <div id="header2"><%- main_header %></div>
    <div id="header" class="container"><%- logo %></div>
    <div id="header3" class="container"><%- navigator %></div>
    <div id="header4"><%- navigator_side %></div>
    <div class="briefingContents container contentsBox">
        <div id="contentsSideNav"><%- contentsSideNav %></div>
        <div class="hotBriefing mainContents">
            <h2>Hot Briefings</h2>
            <table class="table mainTable">
                <tbody>
                    <tr>
                        <th scope="row">택시업계 '타다 퇴출' 주장에…이재웅 "억지 쓰지 말라" 관련기사 개수</th>
                    </tr>
                    <tr>
                        <th scope="row">'2심서 징역16년' 이재록 측 "미투 분위기로 유죄…상고</th>
                    </tr>
                    <tr>
                        <th scope="row">한지성 '음주운전' 소견…변호사 남편의 '모르쇠' 이유</th>
                    </tr>
                    <tr>
                        <th scope="row">택시업계 '타다 퇴출' 주장에…이재웅 "억지 쓰지 말라" 관련기사 개수</th>
                    </tr>
                    <tr>
                        <th scope="row">'2심서 징역16년' 이재록 측 "미투 분위기로 유죄…상고</th>
                    </tr>
                    <tr>
                        <th scope="row">한지성 '음주운전' 소견…변호사 남편의 '모르쇠' 이유</th>
                    </tr>
                    <tr>
                        <th scope="row">택시업계 '타다 퇴출' 주장에…이재웅 "억지 쓰지 말라" 관련기사 개수</th>
                    </tr>
                    <tr>
                        <th scope="row">'2심서 징역16년' 이재록 측 "미투 분위기로 유죄…상고</th>
                    </tr>
                    <tr>
                        <th scope="row">한지성 '음주운전' 소견…변호사 남편의 '모르쇠' 이유</th>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="hotEditor rightNav sideContents">
            <h2>Editors</h2>
            <table class="table">
                <tbody>
                    <tr>
                        <th scope="row">TaeYong</th>
                    </tr>
                    <tr>
                        <th scope="row">RyuDing</th>
                    </tr>
                    <tr>
                        <th scope="row">HyeunGyu</th>
                    </tr>
                    <tr>
                        <th scope="row">HyeunGyu</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="footer"><%- footer %></div>
</body>
</html>