<html>
    <head>
        <link rel="stylesheet" href="css/mypage.css">
        <script src="js/htmljs/channel.js"></script>
    </head>
    <body class="sort-center">
        <div id="header2"><%- main_header %></div>
        <div id="header" class="container"><%- logo %></div>
        <div id="channel_info" class="container">
            <input type="hidden" value="<%= my.rows[0][0] %>">
            <div class="row">
                <div class="col-9">
                    <span id="channel_name" class="channel_num"><%= my.rows[0][1] %></span><span class="channel_num hyeon-font">Subscriber <%= my.rows[0][2] %></span>
                    <span class="channel_num hyeon-font">Donate <%= dntl %> ETH</span><span class="channel_num hyeon-font">Post <%= my.rows[0][3] %></span>
                </div>
                <% if(my.rows[0][0] != userid){ %>
                <div class="col-3">
                    <button id="channel_sub_btn" class="btn <% if(my.rows[0][4]){ %>btn-success<% }else{ %>btn-light<% } %>">Subscribe</button>
                    <button id="channel_do_btn" class="btn btn-primary">Donate</button>
                </div>
                <% } %>
            </div><br>
            <div class="row">
                <div class="col"></div>
                <div class="col-4">
                    <span id="font-30">Post List</span>
                </div>
                <div class="col-4">
                    <select class="sort hyeon-select">
                        <option>최신 순</option>
                        <option <% if(sort == '1'){ %>selected<% } %>>오래된 순</option>
                        <% if(list.metaData[1].name == 'HEADLINE'){ %>
                        <option <% if(sort == '2'){ %>selected<% } %>>조회 수</option>
                        <% } %>
                        <% if(list.metaData[1].name == 'TITLE'){ %>
                        <option <% if(sort == '3'){ %>selected<% } %>>후원 총액</option>
                        <% } %>
                    </select>
                    <input id="search_input" type="text" class="hyeon-input" placeholder="Search">
                </div>
            </div>
            <ul class="nav nav-hyeon nav-fill container pad-0">
                <li class="nav-item">
                    <a class="nav-link btn-light <% if(list.metaData[1].name == 'HEADLINE'){ %>active<% } %>" href="/channel?chnlid=<%= my.rows[0][0] %>">Briefing List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn-light <% if(list.metaData[1].name == 'TITLE'){ %>active<% } %>" href="/channel?chnlid=<%= my.rows[0][0] %>&s=1">Commentary List</a>
                </li>
            </ul>
            <table class="table table-striped container">
                <thead>
                    <tr>
                        <th scope="col">No</th>
                        <% if(list.metaData[1].name == 'HEADLINE'){ %>
                        <th scope="col">HEADLINE</th>
                        <% } else { %>
                        <th scope="col">TITLE</th>
                        <% } %>
                        <th scope="col">CATEGORY</th>
                        <th scope="col">CATEGORYDETAIL</th>
                        <% if(list.metaData[1].name == 'HEADLINE'){ %>
                        <th scope="col">VIEWS</th>
                        <% } else { %>
                        <th scope="col">COSTS</th>
                        <% } %>
                        <th scope="col">WRITE DATE</th>
                        <th scope="col">MODIFY DATE</th>
                    </tr>
                </thead>
                <tbody id="boardlist">
                    <% for(var i = 0; i < list.rows.length; i++){ %>
                    <tr class="selrow">
                        <th scope="row"><%= list.rows[i][0] %></th>
                        <% if(list.metaData[1].name == 'HEADLINE'){ %>
                        <td class="headline"><%= list.rows[i][1] %></td>
                        <% } else { %>
                        <td class="title"><%= list.rows[i][1] %></td>
                        <% } %>
                        <td><%= list.rows[i][2] %></td>
                        <td><%= list.rows[i][3] %></td>
                        <td><%= list.rows[i][4] %></td>
                        <td><%= list.rows[i][5] %></td>
                        <td><%= list.rows[i][6] %></td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
            <div class="dib">
                <ul class="pagination" id="pagelist">
                    <% for(var i = 0; i < page.rows.length; i++){ %>
                        <% if(i == 0){ %>
                    <li class="page-item active"><a class="page-link pb" nextid="<%= page.rows[i] %>">1</a></li>
                        <% } else if(i == 10) { %>
                    <li class="page-item"><a class="page-link nb" nextid="<%= page.rows[i] %>">&gt;</a></li>
                        <% } else { %>
                    <li class="page-item"><a class="page-link pb" nextid="<%= page.rows[i] %>"><%= i + 1 %></a></li>
                        <% } %>
                    <% } %>
                </ul>
            </div>
        </div>
        <div id="empty_last_chnl"></div>
    </body>
</html>