<script src="js/htmljs/mainPage.js"></script>
<html>

<head>
    <meta charset='utf-8'>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script>
        onload = function () {
            $("#mainNavBtn01").addClass("active");
            var ths = document.getElementsByTagName("th");
            for (var i = 0; i < ths.length; i++) {
                ths[i].addEventListener("click", function () {
                    location.href = "/breifing_view";
                });
            }
        }
    </script>
</head>

<body>
    <div id="header2"><%- main_header %></div>
    <div id="header" class="container"><%- logo %></div>
    <div id="header3" class="container"><%- navigator %></div>
    <div id="header4"><%- navigator_side %></div>
    <div class='main2 container'>
        <table style='padding:5px'>
            <tr>
                <td style='padding-right:5px;'>
                    <div class="hotBriefing mainContents">
                        <h2>브리핑</h2>
                        <div id="wrapper">
                            <div id="slider-wrap">
                                <ul id="slider">
                                    <li data-color="#1abc9c">
                                        <div>
                                            <h3>Slide #1</h3>
                                            <span>Sub-title #1</span>
                                        </div>
                                        <table class="table mainTable commTable" style='background-color:greenyellow'>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">택시업계 '타다 퇴출' 주장에…이재웅 "억지 쓰지 말라" 관련기사 개수</th>
                                                    <td class='w10'></td>
                                                    <td class='w10'>0.00$</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </li>

                                    <li data-color="#3498db">
                                        <div>
                                            <h3>Slide #2</h3>
                                            <span>Sub-title #2</span>
                                        </div>
                                        <table class="table mainTable commTable" style='background-color:green'>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">택시업계 '타다 퇴출' 주장에…이재웅 "억지 쓰지 말라" 관련기사 개수</th>
                                                    <td class='w10'></td>
                                                    <td class='w10'>0.00$</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </li>

                                    <li data-color="#9b59b6">
                                        <div>
                                            <h3>Slide #3</h3>
                                            <span>Sub-title #3</span>
                                        </div>
                                        <table class="table mainTable commTable" style='background-color:yellow'>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">택시업계 '타다 퇴출' 주장에…이재웅 "억지 쓰지 말라" 관련기사 개수</th>
                                                    <td class='w10'></td>
                                                    <td class='w10'>0.00$</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </li>

                                    <li data-color="#34495e">
                                        <div>
                                            <h3>Slide #4</h3>
                                            <span>Sub-title #4</span>
                                        </div>
                                        <table class="table mainTable commTable" style='background-color:blue'>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">택시업계 '타다 퇴출' 주장에…이재웅 "억지 쓰지 말라" 관련기사 개수</th>
                                                    <td class='w10'></td>
                                                    <td class='w10'>0.00$</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </li>

                                    <li data-color="#e74c3c">
                                        <div>
                                            <h3>Slide #5</h3>
                                            <span>Sub-title #5</span>
                                        </div>
                                        <table class="table mainTable commTable" style='background-color:red'>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">택시업계 '타다 퇴출' 주장에…이재웅 "억지 쓰지 말라" 관련기사 개수</th>
                                                    <td class='w10'></td>
                                                    <td class='w10'>0.00$</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </li>


                                </ul>

                                <!--controls-->
                                <div class="btns" id="next"><i class="fa fa-arrow-right"></i></div>
                                <div class="btns" id="previous"><i class="fa fa-arrow-left"></i></div>
                                <div id="counter"></div>

                                <div id="pagination-wrap">
                                    <ul>
                                    </ul>
                                </div>
                                <!--controls-->
                            </div>
                        </div>
                    </div>
                </td>

                <td style='padding-left:5px;'>
                    <div class="hotCommentary mainContents">
                        <h2>논평</h2>
                        <table class="table mainTable commTable">
                            <tbody>
                                <tr>
                                    <th scope="row">택시업계 '타다 퇴출' 주장에…이재웅 "억지 쓰지 말라" 관련기사 개수</th>
                                    <td class='w10'>RyuDing</td>
                                    <td class='w10'>0.00$</td>
                                </tr>
                                <tr>
                                    <th scope="row">'2심서 징역16년' 이재록 측 "미투 분위기로 유죄…상고</th>
                                    <td class='w10'>RyuDing</td>
                                    <td class='w10'>2.31$</td>
                                </tr>
                                <tr>
                                    <th scope="row">한지성 '음주운전' 소견…변호사 남편의 '모르쇠' 이유</th>
                                    <td class='w10'>RyuDing</td>
                                    <td class='w10'>3.33$</td>
                                </tr>
                                <tr>
                                    <th scope="row">택시업계 '타다 퇴출' 주장에…이재웅 "억지 쓰지 말라" 관련기사 개수</th>
                                    <td class='w10'>RyuDing</td>
                                    <td class='w10'>3.33$</td>
                                </tr>
                                <tr>
                                    <th scope="row">'2심서 징역16년' 이재록 측 "미투 분위기로 유죄…상고</th>
                                    <td class='w10'>RyuDing</td>
                                    <td class='w10'>3.33$</td>
                                </tr>
                                <tr>
                                    <th scope="row">한지성 '음주운전' 소견…변호사 남편의 '모르쇠' 이유</th>
                                    <td class='w10'>RyuDing</td>
                                    <td class='w10'>3.33$</td>
                                </tr>
                                <tr>
                                    <th scope="row">택시업계 '타다 퇴출' 주장에…이재웅 "억지 쓰지 말라" 관련기사 개수</th>
                                    <td class='w10'>RyuDing</td>
                                    <td class='w10'>3.33$</td>
                                </tr>
                                <tr>
                                    <th scope="row">'2심서 징역16년' 이재록 측 "미투 분위기로 유죄…상고</th>
                                    <td class='w10'>RyuDing</td>
                                    <td class='w10'>3.33$</td>
                                </tr>
                                <tr>
                                    <th scope="row">한지성 '음주운전' 소견…변호사 남편의 '모르쇠' 이유</th>
                                    <td class='w10'>RyuDing</td>
                                    <td class='w10'>3.33$</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <div id="footer"><%- footer %></div>
</body>

</html>