<script src="js/htmljs/mainPage.js"></script>
<html>

<head>
    <meta charset='utf-8'>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script>
        onload = function () {
            $("#mainNavBtn01").addClass("active");
            var ths = document.getElementsByTagName("th");
            for (var i = 0; i < ths.length; i++) {
                ths[i].addEventListener("click", function () {
                    location.href = "/breifing_view";
                });
            }
        }
    </script>
</head>

<body>
    <div id="header2"><%- main_header %></div>
    <div id="header" class="container"><%- logo %></div>
    <div id="header3" class="container"><%- navigator %></div>
    <div id="header4"><%- navigator_side %></div>
    <div class='main2 container tac mainSliderContainer'>
        <div class="hotBriefing mainContents mainSlider tac">
            <h2>게시판</h2>
            <div id="wrapper">
                <div id="slider-wrap">
                    <ul id="slider">
                        <li data-color="#1abc9c">
                            <span style='color:black;'>Page5</span>
                            <table class="table mainTable commTable">
                                <tbody>
                                    <tr>
                                        <th scope="row">택시업계 '타다 퇴출' 주장에…이재웅 "억지 쓰지 말라" 관련기사 개수</th>
                                        <td class='w10'></td>
                                        <td class='w10'>0.00$</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">택시업계 '타다 퇴출' 주장에…이재웅 "억지 쓰지 말라" 관련기사 개수</th>
                                        <td class='w10'></td>
                                        <td class='w10'>0.00$</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">택시업계 '타다 퇴출' 주장에…이재웅 "억지 쓰지 말라" 관련기사 개수</th>
                                        <td class='w10'></td>
                                        <td class='w10'>0.00$</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">택시업계 '타다 퇴출' 주장에…이재웅 "억지 쓰지 말라" 관련기사 개수</th>
                                        <td class='w10'></td>
                                        <td class='w10'>0.00$</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">택시업계 '타다 퇴출' 주장에…이재웅 "억지 쓰지 말라" 관련기사 개수</th>
                                        <td class='w10'></td>
                                        <td class='w10'>0.00$</td>
                                    </tr>
                                </tbody>
                            </table>
                        </li>

                        <li data-color="#3498db">
                            <table class="table mainTable commTable">
                                <tbody>
                                    <tr>
                                        <th scope="row">택시업계 '타다 퇴출' 주장에…이재웅 "억지 쓰지 말라" 관련기사 개수</th>
                                        <td class='w10'></td>
                                        <td class='w10'>0.00$</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">택시업계 '타다 퇴출' 주장에…이재웅 "억지 쓰지 말라" 관련기사 개수</th>
                                        <td class='w10'></td>
                                        <td class='w10'>0.00$</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">택시업계 '타다 퇴출' 주장에…이재웅 "억지 쓰지 말라" 관련기사 개수</th>
                                        <td class='w10'></td>
                                        <td class='w10'>0.00$</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">택시업계 '타다 퇴출' 주장에…이재웅 "억지 쓰지 말라" 관련기사 개수</th>
                                        <td class='w10'></td>
                                        <td class='w10'>0.00$</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">택시업계 '타다 퇴출' 주장에…이재웅 "억지 쓰지 말라" 관련기사 개수</th>
                                        <td class='w10'></td>
                                        <td class='w10'>0.00$</td>
                                    </tr>
                                </tbody>
                            </table>
                        </li>

                        <li data-color="#9b59b6">
                            <table class="table mainTable commTable">
                                <tbody>
                                    <tr>
                                        <th scope="row">택시업계 '타다 퇴출' 주장에…이재웅 "억지 쓰지 말라" 관련기사 개수</th>
                                        <td class='w10'></td>
                                        <td class='w10'>0.00$</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">택시업계 '타다 퇴출' 주장에…이재웅 "억지 쓰지 말라" 관련기사 개수</th>
                                        <td class='w10'></td>
                                        <td class='w10'>0.00$</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">택시업계 '타다 퇴출' 주장에…이재웅 "억지 쓰지 말라" 관련기사 개수</th>
                                        <td class='w10'></td>
                                        <td class='w10'>0.00$</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">택시업계 '타다 퇴출' 주장에…이재웅 "억지 쓰지 말라" 관련기사 개수</th>
                                        <td class='w10'></td>
                                        <td class='w10'>0.00$</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">택시업계 '타다 퇴출' 주장에…이재웅 "억지 쓰지 말라" 관련기사 개수</th>
                                        <td class='w10'></td>
                                        <td class='w10'>0.00$</td>
                                    </tr>
                                </tbody>
                            </table>
                        </li>

                        <li data-color="#34495e">
                            <table class="table mainTable commTable">
                                <tbody>
                                    <tr>
                                        <th scope="row">택시업계 '타다 퇴출' 주장에…이재웅 "억지 쓰지 말라" 관련기사 개수</th>
                                        <td class='w10'></td>
                                        <td class='w10'>0.00$</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">택시업계 '타다 퇴출' 주장에…이재웅 "억지 쓰지 말라" 관련기사 개수</th>
                                        <td class='w10'></td>
                                        <td class='w10'>0.00$</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">택시업계 '타다 퇴출' 주장에…이재웅 "억지 쓰지 말라" 관련기사 개수</th>
                                        <td class='w10'></td>
                                        <td class='w10'>0.00$</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">택시업계 '타다 퇴출' 주장에…이재웅 "억지 쓰지 말라" 관련기사 개수</th>
                                        <td class='w10'></td>
                                        <td class='w10'>0.00$</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">택시업계 '타다 퇴출' 주장에…이재웅 "억지 쓰지 말라" 관련기사 개수</th>
                                        <td class='w10'></td>
                                        <td class='w10'>0.00$</td>
                                    </tr>
                                </tbody>
                            </table>
                        </li>

                        <li data-color="#e74c3c">
                            <span>Page5</span>
                            <table class="table mainTable commTable">
                                <tbody>
                                    <tr>
                                        <th scope="row">택시업계 '타다 퇴출' 주장에…이재웅 "억지 쓰지 말라" 관련기사 개수</th>
                                        <td class='w10'></td>
                                        <td class='w10'>0.00$</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">택시업계 '타다 퇴출' 주장에…이재웅 "억지 쓰지 말라" 관련기사 개수</th>
                                        <td class='w10'></td>
                                        <td class='w10'>0.00$</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">택시업계 '타다 퇴출' 주장에…이재웅 "억지 쓰지 말라" 관련기사 개수</th>
                                        <td class='w10'></td>
                                        <td class='w10'>0.00$</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">택시업계 '타다 퇴출' 주장에…이재웅 "억지 쓰지 말라" 관련기사 개수</th>
                                        <td class='w10'></td>
                                        <td class='w10'>0.00$</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">택시업계 '타다 퇴출' 주장에…이재웅 "억지 쓰지 말라" 관련기사 개수</th>
                                        <td class='w10'></td>
                                        <td class='w10'>0.00$</td>
                                    </tr>
                                </tbody>
                            </table>
                        </li>


                    </ul>

                    <!--controls-->
                    <div class="btns" id="next"><i class="fa fa-arrow-right"></i></div>
                    <div class="btns" id="previous"><i class="fa fa-arrow-left"></i></div>
                    <div style='color:black;' id="counter"></div>

                    <div id="pagination-wrap">
                        <ul>
                        </ul>
                    </div>
                    <!--controls-->
                </div>
            </div>
        </div>
    </div>

    <div id="footer"><%- footer %></div>
</body>

</html>