<html>
    <head>
        <link rel="stylesheet" href="css/mypage.css">
        <link rel="stylesheet" href="css/signup.css">
        <script src="js/htmljs/mypage.js"></script>
    </head>
    <body class="sort-center">
        <div id="header2"><%- main_header %></div>
        <div id="header" class="container"><%- logo %></div>
        <div id="channel_info">
            <span id="channel_name" class="channel_num"><%= my.rows[0][3] %></span><span class="channel_num">Subscriber <%= my.rows[0][8] %></span>
            <span class="channel_num">Donate 2,500,000</span><span class="channel_num">Post <%= my.rows[0][9] %></span>
            <span class="channel_num">Reply <%= my.rows[0][10] %></span><br><br>
            <ul class="nav nav-pills nav-fill container pad-0">
                <li class="nav-item">
                    <a class="nav-link btn-light <% if(list.metaData[0].name == 'SID'){ %>active<% } %>" href="/my">Subscriber List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn-light <% if(list.metaData[0].name == 'DID'){ %>active<% } %>" href="/my?s=1">Donate List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn-light <% if(list.metaData[0].name == 'PID'){ %>active<% } %>" href="/my?s=2">Post List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn-light <% if(list.metaData[0].name == 'CMNTID'){ %>active<% } %>" href="/my?s=3">Reply List</a>
                </li>
            </ul>
            <table class="table table-striped container">
                <thead>
                    <% if(list.metaData[0].name == 'SID'){ %>
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">SUBSCRIBER</th>
                    </tr>
                    <% } %>
                    <% if(list.metaData[0].name == 'PID'){ %>
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">HEADLINE / TITLE</th>
                        <th scope="col">CATEGORY</th>
                        <th scope="col">CATEGORYDETAIL</th>
                        <th scope="col">VIEWS</th>
                        <th scope="col">WRITE DATE</th>
                        <th scope="col">MODIFY DATE</th>
                    </tr>
                    <% } %>
                    <% if(list.metaData[0].name == 'CMNTID'){ %>
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">TITLE</th>
                        <th scope="col">COMMENTS</th>
                        <th scope="col">WRITE DATE</th>
                    </tr>
                    <% } %>
                </thead>
                <tbody id="boardlist">
                    <% if(list.metaData[0].name == 'SID'){ %>
                        <% for(var i = 0; i < list.rows.length; i++){ %>
                    <tr>
                        <th scope="row"><%= list.rows[i][0] %></th>
                        <td><%= list.rows[i][1] %></td>
                    </tr>
                        <% } %>
                    <% } %>
                    <% if(list.metaData[0].name == 'PID'){ %>
                        <% for(var i = 0; i < list.rows.length; i++){ %>
                    <tr>
                        <th scope="row"><%= list.rows[i][0] %></th>
                        <% if(list.rows[i][7] != null){ %>
                        <td class="headline"><%= list.rows[i][7] %></td>
                        <% } %>
                        <% if(list.rows[i][6] != null){ %>
                        <td class="title"><%= list.rows[i][6] %></td>
                        <% } %>
                        <td><%= list.rows[i][4] %></td>
                        <td><%= list.rows[i][5] %></td>
                        <td><%= list.rows[i][2] %></td>
                        <td><%= list.rows[i][1] %></td>
                        <td><%= list.rows[i][3] %></td>
                    </tr>
                        <% } %>
                    <% } %>
                    <% if(list.metaData[0].name == 'CMNTID'){ %>
                        <% for(var i = 0; i < list.rows.length; i++){ %>
                    <tr>
                        <th scope="row"><%= list.rows[i][0] %></th>
                        <td class="title"><%= list.rows[i][3] %></td>
                        <td><%= list.rows[i][1] %></td>
                        <td><%= list.rows[i][2] %></td>
                    </tr>
                        <% } %>
                    <% } %>
                </tbody>
            </table>
            <div class="btn-group mr-2" role="group" id="pagelist">
            <% if(list.metaData[0].name == 'SID'){ %>
                <% for(var i = 0; i < page.length; i++){ %>
                    <% if(i == 0){ %>
                <button type="button" class="btn btn-light active sb" nextsid="<%= page[i] %>">1</button>
                    <% } else if(i == 10) { %>
                <button type="button" class="btn btn-light nsb" nextsid="<%= page[i] %>">&gt;</button>
                    <% } else { %>
                <button type="button" class="btn btn-light sb" nextsid="<%= page[i] %>"><%= i + 1 %></button>
                    <% } %>
                <% } %>
            <% } %>
            <% if(list.metaData[0].name == 'PID'){ %>
                <% for(var i = 0; i < page.length; i++){ %>
                    <% if(i == 0){ %>
                <button type="button" class="btn btn-light active pb" nextpid="<%= page[i] %>">1</button>
                    <% } else if(i == 10) { %>
                <button type="button" class="btn btn-light nb" nextpid="<%= page[i] %>">&gt;</button>
                    <% } else { %>
                <button type="button" class="btn btn-light pb" nextpid="<%= page[i] %>"><%= i + 1 %></button>
                    <% } %>
                <% } %>
            <% } %>
            <% if(list.metaData[0].name == 'CMNTID'){ %>
                <% for(var i = 0; i < page.length; i++){ %>
                    <% if(i == 0){ %>
                <button type="button" class="btn btn-light active cb" nextcmntid="<%= page[i] %>">1</button>
                    <% } else if(i == 10) { %>
                <button type="button" class="btn btn-light ncb" nextcmntid="<%= page[i] %>">&gt;</button>
                    <% } else { %>
                <button type="button" class="btn btn-light cb" nextcmntid="<%= page[i] %>"><%= i + 1 %></button>
                    <% } %>
                <% } %>
            <% } %>
            </div>
        </div>
        <div id="empty"></div>
        <div id="account_info">
            <span id="account_address" class="account_num">Account Address</span><span class="account_num"><%= my.rows[0][4] %></span>
            <span class="account_num">Coin 3,000,000</span>
            <button type="button" class="btn btn-light" data-toggle="modal" data-target="#buy_view">Buy</button>
            <button type="button" class="btn btn-light" data-toggle="modal" data-target="#sell_view">Sell</button><br><br>
            <span id="font-30">Transactions</span>
            <table class="table table-striped container">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                    </tr>
                    <tr>
                        <th scope="row">7</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">8</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">9</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                    </tr>
                    <tr>
                        <th scope="row">10</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="empty"></div>
        <div id="user_modify">
            <div class="signup-block">
                <form action="/user/modify" method="post" onsubmit="return checkval();">
                    <h1>회원정보 수정</h1>
                    <input type="text" value="<%= my.rows[0][0] %>" placeholder="아이디" id="id" disabled>
                    <br>
                    <input type="password" value="<%= my.rows[0][1] %>" placeholder="비밀번호" id="pw" name="pw1" oninput="pw2();">
                    <input type="password" value="" placeholder="비밀번호 확인" id="pwcheck1" name="pwcheck" oninput="pwcheck2();">
                    <div id="pwcheckmsg" style="color:white;">1</div>
                    <input type="text" value="<%= my.rows[0][2] %>" placeholder="이름" id="name"  name="name1">
                    <input type="text" value="<%= my.rows[0][3] %>" placeholder="닉네임" id="nickname"  name="nickname1">
                    <input type="text" value="<%= my.rows[0][5] %>" placeholder="이메일" id="email" name="email1">
                    <input type="tel" value="<%= my.rows[0][6] %>" placeholder="폰번호" id="cellphone" name="cellphone1">
                    <input type="submit" value="회원정보 수정      " class="button">
                </form>
            </div>
        </div>
        <div id="empty"></div>
        <div id="side_list">
            <label>MyPage</label><hr>
            <a class="mypageATag btn btn-outline-secondary" href="#channel_info">Channel Information</a>
            <a class="mypageATag btn btn-outline-secondary" href="#account_info">Account Information</a>
            <a class="mypageATag btn btn-outline-secondary" href="#user_modify">Modify User Information</a>
        </div>
        <div class="modal fade" id="buy_view" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Buy</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body tal">
                    <div><input type="text" placeholder="Buy Coin"></div>
                    <div><label>$ :</label><input type="text"></div>
                    <div><label>Current Coin :</label><input type="text"></div>
                    <div><label>Result Coin :</label><input type="text"></div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-light">Buy</button>
                </div>
              </div>
            </div>
          </div>
          <div class="modal fade" id="sell_view" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Sell</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body tal">
                    <div><input type="text" placeholder="Sell Coin"></div>
                    <div><label>$ :</label><input type="text"></div>
                    <div><label>Current Coin :</label><input type="text"></div>
                    <div><label>Result Coin :</label><input type="text"></div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-light">Sell</button>
                </div>
              </div>
            </div>
          </div>
    </body>
</html>