<html>
    <head>
        <link rel="stylesheet" href="css/mypage.css">
        <link rel="stylesheet" href="css/signup.css">
        <script src="js/htmljs/mypage.js"></script>
    </head>
    <body class="sort-center">
        <div id="header2"><%- main_header %></div>
        <div id="header" class="container"><%- logo %></div>
        <div id="channel_info" class="container">
            <div class="row">
                <div class="col">
                    <span id="channel_name" class="channel_num"><%= my.rows[0][3] %></span><span class="channel_num hyeon-font">Subscriber <%= my.rows[0][8] %></span>
                    <span class="channel_num hyeon-font">Donate <%= dntl %> ETH</span><span class="channel_num hyeon-font">Post <%= my.rows[0][9] %></span><span class="channel_num hyeon-font">Reply <%= my.rows[0][10] %></span>
                </div>
            </div><br>
            <div class="row">
                <div class="col-8"></div>
                <div class="col">
                    <select class="sort hyeon-select">
                        <option>최신 순</option>
                        <option <% if(sort == '1'){ %>selected<% } %>>오래된 순</option>
                        <% if(list.metaData[1].name == 'HEADLINE'){ %>
                        <option <% if(sort == '2'){ %>selected<% } %>>조회 수</option>
                        <% } %>
                        <% if(list.metaData[1].name == 'TITLE'){ %>
                        <option <% if(sort == '3'){ %>selected<% } %>>후원 총액</option>
                        <% } %>
                    </select>
                    <input type="text" id="my_search" class="hyeon-input" placeholder="Search">
                </div>
            </div>
            <ul class="nav nav-hyeon nav-fill container pad-0">
                <li class="nav-item">
                    <a class="nav-link btn-light <% if(list.metaData[1].name == 'SUBSCRIBER'){ %>active<% } %>" href="/my">Subscriber List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn-light <% if(list.metaData[1].name == 'CHANNELUSER'){ %>active<% } %>" href="/my?s=1">Channel List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn-light <% if(list.metaData[1].name == 'HEADLINE'){ %>active<% } %>" href="/my?s=2">Briefing List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn-light <% if(list.metaData[1].name == 'TITLE'){ %>active<% } %>" href="/my?s=3">Commentary List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn-light <% if(list.metaData[0].name == 'COMMENTS'){ %>active<% } %>" href="/my?s=4">Reply List</a>
                </li>
            </ul>
            <table class="table table-striped container">
                <thead>
                    <tr>
                        <th scope="col">No</th>
                        <% if(list.metaData[1].name == 'SUBSCRIBER'){ %>
                        <th scope="col">SUBSCRIBER</th>
                        <% } %>
                        <% if(list.metaData[1].name == 'CHANNELUSER') { %>
                        <th scope="col">CHANNEL</th>
                        <% } %>
                        <% if(list.metaData[0].name == 'PID'){%>
                            <% if(list.metaData[1].name == 'HEADLINE'){ %>
                        <th scope="col">HEADLINE</th>
                            <% } else { %>
                        <th scope="col">TITLE</th>
                            <% } %>
                        <th scope="col">CATEGORY</th>
                        <th scope="col">CATEGORYDETAIL</th>
                            <% if(list.metaData[1].name == 'HEADLINE'){ %>
                        <th scope="col">VIEWS</th>
                            <% } else { %>
                        <th scope="col">COSTS</th>
                            <% } %>
                        <th scope="col">WRITE DATE</th>
                        <th scope="col">MODIFY DATE</th>
                        <% } %>
                        <% if(list.metaData[0].name == 'COMMENTS'){ %>
                        <th scope="col">TITLE</th>
                        <th scope="col">COMMENTS</th>
                        <th scope="col">WRITE DATE</th>
                        <% } %>
                    </tr>
                </thead>
                <tbody id="boardlist">
                    <% if(list.metaData[0].name == 'SID'){ %>
                        <% for(var i = 0; i < list.rows.length; i++){ %>
                    <tr class="selrow">
                        <th scope="row"><%= list.rows[i][0] %></th>
                        <td class="seluser hover-pointer"><%= list.rows[i][1] %></td>
                    </tr>
                        <% } %>
                    <% } %>
                    <% if(list.metaData[0].name == 'PID'){ %>
                        <% for(var i = 0; i < list.rows.length; i++){ %>
                    <tr class="selrow">
                        <th scope="row"><%= list.rows[i][0] %></th>
                            <% if(list.metaData[1].name == 'HEADLINE'){ %>
                        <td class="headline hover-pointer hover-underline"><%= list.rows[i][1] %></td>
                            <% } else { %>
                        <td class="title hover-pointer hover-underline"><%= list.rows[i][1] %></td>
                            <% } %>
                        <td><%= list.rows[i][2] %></td>
                        <td><%= list.rows[i][3] %></td>
                        <td><%= list.rows[i][4] %></td>
                        <td><%= list.rows[i][5] %></td>
                        <td><%= list.rows[i][6] %></td>
                    </tr>
                        <% } %>
                    <% } %>
                    <% if(list.metaData[0].name == 'COMMENTS'){ %>
                        <% for(var i = 0; i < list.rows.length; i++){ %>
                    <tr class="selrow">
                        <th scope="row"><%= list.rows[i][3] %></th>
                        <td class="title hover-pointer hover-underline"><%= list.rows[i][2] %></td>
                        <td><%= list.rows[i][0] %></td>
                        <td><%= list.rows[i][1] %></td>
                    </tr>
                        <% } %>
                    <% } %>
                </tbody>
            </table>
            <div class="dib">
                <ul class="pagination" id="pagelist">
                    <% for(var i = 0; i < page.rows.length; i++){ %>
                        <% if(i == 0){ %>
                    <li class="page-item active"><a class="page-link pb" nextid="<%= page.rows[i] %>">1</a></li>
                        <% } else if(i == 10) { %>
                    <li class="page-item"><a class="page-link nb" nextid="<%= page.rows[i] %>">&gt;</a></li>
                        <% } else { %>
                    <li class="page-item"><a class="page-link pb" nextid="<%= page.rows[i] %>"><%= i + 1 %></a></li>
                        <% } %>
                    <% } %>
                </ul>
            </div>
        </div>
        <div id="empty"></div>
        <div id="account_info">
            <span id="account_address" class="account_num">Account Address</span><span class="account_num  hyeon-font"><%= my.rows[0][4] %></span><span class="account_num  hyeon-font">Coin <%= coin %> ETH</span>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#buy_view">Buy</button>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#sell_view">Sell</button><br><br>
            <select id="txsc" class="srchandsort hyeon-select">
                <option>최신 순</option>
                <option>오래된 순</option>
            </select>
            <select id="txio" class="srchandsort hyeon-select">
                <option>입출금 내역</option>
                <option>입금 내역</option>
                <option>출금 내역</option>
            </select>
            <input type="text" id="slctuser" class="srchandsort hyeon-input" placeholder="Enter Nickname">
            <input type="text" id="slctcoin" class="srchandsort hyeon-input" placeholder="Enter Coin">
            <select id="txscope" class="srchandsort hyeon-select">
                <option>선택</option>
                <option>초과</option>
                <option>이상</option>
                <option>같음</option>
                <option>이하</option>
                <option>미만</option>
            </select><br><br>
            <span id="font-30">Transactions</span>
            <table class="table table-striped transactions">
                <thead>
                    <tr>
                        <th scope="col">BLOCK_NO</th>
                        <th scope="col">TX_INDEX</th>
                        <th scope="col">FROM</th>
                        <th scope="col">TO</th>
                        <th scope="col">COIN</th>
                        <th scope="col">FEE</th>
                        <th scope="col">TX_DATE</th>
                    </tr>
                </thead>
                <tbody id="txlist">
                    <% for(var i = 0; i < txlist.length; i++){ %>
                    <tr>
                        <th scope="row"><%= txlist[i].bn %></th>
                        <td><%= txlist[i].txidx %></td>
                        <% if(txlist[i].from == my.rows[0][4]){ %>
                        <td><%= my.rows[0][3] %></td>
                        <% } else { %>
                            <% for(var j = 0; j < converter.length; j++){ %>
                                <% if(txlist[i].from == converter[j][1]){ %>
                        <td><%= converter[j][0] %><br><%= txlist[i].from %></td>
                                <% break; %>
                                <% } %>
                                <% if(j == converter.length - 1){ %>
                        <td><%= txlist[i].from %></td>
                                <% } %>
                            <% } %>
                        <% } %>
                        <% if(txlist[i].to == my.rows[0][4]){ %>
                        <td><%= my.rows[0][3] %></td>
                        <% } else { %>
                            <% for(var j = 0; j < converter.length; j++){ %>
                                <% if(txlist[i].to == converter[j][1]){ %>
                        <td><%= converter[j][0] %><br><%= txlist[i].to %></td>
                                <% break; %>
                                <% } %>
                                <% if(j == converter.length - 1){ %>
                        <td><%= txlist[i].to %></td>
                                <% } %>
                            <% } %>
                        <% } %>
                        <td><%= txlist[i].value %></td>
                        <td><%= txlist[i].fee %></td>
                        <td><%= txlist[i].time %></td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
            <div class="dib">
                <ul class="pagination" id="txpage">
                    <% for(var i = 0; i < txpage.length; i++){ %>
                        <% if(i == 0){ %>
                    <li class="page-item active"><a class="page-link txpb" nextbn="<%= txpage[i].bn %>" nextxidx="<%= txpage[i].txidx %>">1</a></li>
                        <% } else if(i == 10) { %>
                    <li class="page-item"><a class="page-link ntxpb" nextbn="<%= txpage[i].bn %>" nextxidx="<%= txpage[i].txidx %>">&gt;</a></li>
                        <% } else { %>
                    <li class="page-item"><a class="page-link txpb" nextbn="<%= txpage[i].bn %>" nextxidx="<%= txpage[i].txidx %>"><%= i + 1 %></a></li>
                        <% } %>
                    <% } %>
                </ul>
            </div>
        </div>
        <div id="empty"></div>
        <div id="user_modify">
            <div class="signup-block">
                <form action="/user/modify" method="post" id="modify" onsubmit="return checkval();">
                    <div id="text">회원정보 수정</div>
                    <input type="text" value="<%= my.rows[0][0] %>" placeholder="아이디" id="id2" disabled>
                    <input type="password" value="" placeholder="비밀번호 (8자 이상)" id="pw" name="pw1" oninput="pw2();">
                    <input type="password" value="" placeholder="비밀번호 확인 (8자 이상)" id="pwcheck" name="pwcheck1" oninput="pwcheck2();">
                    <div id="pwcheckmsg" style="color:#9e9e9e17;">1</div>
                    <input type="text" value="<%= my.rows[0][2] %>" placeholder="이름" id="name"  name="name1">
                    <input type="text" value="<%= my.rows[0][3] %>" placeholder="닉네임" id="nickname"  name="nickname1">
                    <input type="text" value="<%= my.rows[0][5] %>" placeholder="abc@abcd.abc" id="email" name="email1">
                    <input type="tel" value="<%= my.rows[0][6] %>" placeholder="01011112222" id="cellphone2" name="cellphone1" readonly>
                    <input type="submit" value="회원정보 수정      " class="button">
                </form>
                <form method="POST" action="/user/delete" id="delete">
                    <input type="submit" value="회원 탈퇴       " class="button">
                </form>
            </div>
        </div>
        <div id="empty_last"></div>
        <div id="side_list">
            <label>MyPage</label><hr>
            <a class="fixed-right-tab btn btn-outline-secondary" href="#header2">Channel Information</a>
            <a class="fixed-right-tab btn btn-outline-secondary" href="#account_info">Account Information</a>
            <a class="fixed-right-tab btn btn-outline-secondary" href="#user_modify">Modify User Information</a>
        </div>
        <div class="modal fade" id="buy_view" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Buy</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form method="POST" action="/buy">
                        <div class="modal-body tal">
                                <input type="hidden" name="receiver" value="<%= my.rows[0][4] %>">
                                <div><input type="text" class="coin hyeon-input" name="coin" placeholder="Buy Coin"></div>
                                <div>￦ : <input type="text" class="won hyeon-input"> 원</div>
                                <div>Fee : <label class="fee"></label> ETH</div>
                                <div>Current Coin : <%= Number(coin).toFixed(5) %> ETH</div>
                                <div>Result Coin : <label id="brc" class="rc" save="<%= coin %>"></label> ETH</div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Buy</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal fade" id="sell_view" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Sell</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form method="POST" action="/sell">
                        <div class="modal-body tal">
                            <input type="hidden" name="sender" value="<%= my.rows[0][4] %>">
                            <div>
                                <input type="text" class="coin hyeon-input" name="coin" placeholder="Sell Coin">
                                <select id="percentage" class="hyeon-select">
                                    <option>선택</option>
                                    <option>ALL</option>
                                    <option>50%</option>
                                    <option>25%</option>
                                    <option>10%</option>
                                </select>
                            </div>
                            <div>￦ : <input type="text" class="won hyeon-input"> 원</div>
                            <div>Fee : <label class="fee"></label> ETH</div>
                            <div>Current Coin : <label id="coin"><%= Number(coin).toFixed(5) %></label> ETH</div>
                            <div>Result Coin : <label id="src" class="rc" save="<%= coin %>"></label> ETH</div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Sell</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div><%- loading %></div>
    </body>
</html>