<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type='text/css' href="/css/pw_find.css?after">
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR|Sunflower:300&display=swap" rel="stylesheet">
    </head>
    
    <body>
        <div id="header2"><%- main_header %></div>
        <div id="header" class="container"><%- logo %></div>
        <div class="pw-find container">
            <div class="pw-find-block">
                <form action="/pw_find" method="post" onsubmit="return checkval();">
                    <div id="text">비밀번호 찾기</div>
                    <input type="text" value="" placeholder="아이디" id="id" name="id1" />
                    <input type="text" value="" placeholder="이름" id="name" name="name1"/>
                    <input type="text" value="" placeholder="abc@abc.com" id="email" name="email1"/>
                    <input type="text" value="" placeholder="01012341234" id="cellphone" name="cellphone1"/>
                    <input type="submit" value="비밀번호 찾기" class="button"/>
                </form>
            </div>
        </div>
    </body>
    <script>
        function checkval(){
            var id=document.forms[0].id1;
            var name=document.forms[0].name1;
            var email=document.forms[0].email1;
            var cellphone=document.forms[0].cellphone1;
            var result1="";
            if(id.value=="" || id.value==null){
                alert("아이디를 입력해주세요.");
                return false;
            }
            if(name.value=="" || name.value==null){
                alert("이름을 입력해주세요.");
                return false;
            }
            if(email.value=="" || email.value==null){
                alert("이메일을 입력해주세요.");
                return false;
            }
            if(email.value.indexOf('@')==-1){
                alert('이메일 형식이 틀렸습니다.');
                return false;
            }
            if(cellphone.value=="" || cellphone.value==null){
                alert("번호를 입력해주세요.");
                return false;
            }
            
            if(cellphone.value!="" && cellphone.value!=null){
                for(var i=0;i<cellphone.value.length;i++){
                    if(48<=cellphone.value.charCodeAt(i) && cellphone.value.charCodeAt(i)<=57){
                        result1+=cellphone.value.charAt(i);
                    }
                }
                cellphone.value=result1;
            }
    }
    </script>
</html>
