<html>
    <head>
        <meta charset="utf-8">
        <script src="js/htmljs/signup.js"></script>
        <link rel="stylesheet" type='text/css' href="/css/signup.css?ver=1">
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR|Sunflower:300&display=swap" rel="stylesheet">
        <style>
            input.button{
                padding: 0px;
            }
        </style>
    </head>
    <body>
        <div id="header" style="font-family:Noto Sans KR, sans-serif" class="container"><%- logo %></div>
        <div class="signup container" >
            <div class="signup-block" style="background:#eeeeee33;">
                <form action="/signup" method="post">
                    <div id="text">회원가입</div>
                    <input type="text" value="" placeholder="아이디" id="id" name="id1"/>
                    <br>
                    <input type="button" value="아이디 중복확인" class="button" id="id_check"/>
                    <div id="id_msg" style="color:#9e9e9e17;">1</div>
                    <input type="password" value="" placeholder="비밀번호 (8자 이상)" id="pw" name="pw1" oninput="pw2();"/>
                    <input type="password" value="" placeholder="비밀번호 확인 (8자 이상)" id="pwcheck" name="pwcheck1" oninput="pwcheck2();"/>
                    <div id="pwcheckmsg" style="color:#9e9e9e17;">1</div>
                    <input type="text" value="" placeholder="이름" id="name"  name="name1"/>
                    <input type="text" value="" placeholder="닉네임" id="nickname"  name="nickname1"/>
                    <input type="text" value="" placeholder="abc@abcd.abc" id="email" name="email1"/>
                    <input type="text" value="" placeholder="01011112222" id="cellphone" name="cellphone1"/>
                    <input type="button" value="휴대폰 인증" class="button" id="phone_click">
                    <div style='display:none;' class="effect8" id="auth_box">
                        <input type='text' value=""  id='auth_num' name='auth_num1' placeholder="인증번호" style='display:none;margin:5px;width:45%;'>
                        <input type="button" value="인증" class='button' id="auth_btn" style='display:none;margin:5px;width:45%;'>
                    </div>
                    <div id="result" style="color:#9e9e9e17;">1</div>
                    <input type="button" value="회원가입" class="button" onclick="checkval()"/>
                </form>
            </div>
        </div>
        <div id="footer"><%- footer %></div>
    </body>
    <script>
    
    </script>
</html>
