<script>
    function logoutButton(){
        location.href='/logout?preURL='+location.pathname+location.search;
    }
</script>
<div class="mainHeader container">
    <ul class="nav justify-content-end">
        <% if(user == null){ %>
        <li class="nav-item">
            <a class="btn btn-light" href="/login">Login</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-light" href="/signup">Signup</a>
        </li>
        <% } else { %>
        <span class="mainNavUserSpan">[ <%= user %>님 ]</span>
        <li class="nav-item">
            <a class="btn btn-light" onclick="logoutButton();" id="logoutBtn">logout</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-light" href="/my">mypage</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-light" href="/channel?chnlid=<%= user %>">channel</a>
        </li>
        <% } %>
    </ul>
</div>